<h1>Stream</h1>
<div class="green">
<p>All of the content on Phourus can be found on the highly customizable <span class="term">Stream</span>. You can toggle the different types of posts and browse by parameters such as date, location, and Influence to find the kind of information you are interested in.</p>
</div>
<img src="/assets/home/stream.png" width="800" />
<p>Whenever you create content on Phourus, you can change privacy settings to customize who sees your post, and who doesn't. This gives you tremendous flexibility with the content you create.</p>

<h1>Organizations</h1>
<div class="red">
<p>Each <span class="term">Element</span> is associated with an <span class="term">Organization</span> type that exists in the REAL world, and not just cyberspace. <span class="term">Orgs</span> also have advanced features not available in the <span class="term">Stream</span>, such as climate & demographic data for Govs, and curriculum data for Schools.</p>
</div>

<div class="org l">
<img src="/assets/orgs/companies.png" />
<h3>Companies</h3>
<h4 class="green">Phourus Earth</h4>
<div>Executives | Employees</div>
<p>Phourus <span class="term">Companies</span> are businesses that wish to connect better with their local community through social media. It is also a platform for these organizations to get exposure they may not otherwise get in mainstream media.</p>
</div>

<div class="org r">
<img src="/assets/orgs/govs.png" />
<h3>Govs</h3>
<h4 class="red">Phourus Voice</h4>
<div>Reps | Citizens</div>
<p>Phourus <span class="term">Govs</span> are local, county and state Governments in the United States. There are approximately 50,000 cities, towns, states and counties in the U.S., and Phourus wants to help them organize better.</p>
</div>

<div class="org l">
<img src="/assets/orgs/schools.png" style="float: left;" />
<h3>Schools</h3>
<h4 class="blue">Phourus Mind</h4>
<div>Teachers | Students</div>
<p>In addition to the 50,000 local governments in the US, there are over 15,000 school systems. Phourus builds technology to help these <span class="term">Schools</span> organize better while also connecting them with their local community.</p>
</div>

<div class="org r">
<img src="/assets/orgs/groups.png" style="float: right;" />
<h3>Groups</h3>
<h4 class="gold">Phourus Self</h4>
<div>Leaders | Members</div>
<p>Phourus <span class="term">Groups</span> encompass religious institutions, charities, social service groups and other 'higher purpose' organizations who believe in open expression, and are proud to share their belief system with the Phourus community.</p>
</div>
<div class="clear"></div>
  <br />
  <p>When using <span class="term">Organizations</span> on Phourus, you can see content created from members of that Organization.</p> 
  <!--
  <p>For example, if you select a <span class="term">School</span>, you can see all the <span class="term">Subjects</span>, <span class="term">Questions</span> and <span class="term">Answers</span> created by <span class="term">Teachers</span> and <span class="term">Students</span> from that school.</p>
  
  <p>If you select a <span class="term">Gov</span>, such as the city of Boston, Massachusetts, you can see all <span class="term">Debates</span>, <span class="term">Bills</span> and <span class="term">Votes</span> from <span class="term">Reps</span> and <span class="term">Citizens</span> within Boston.</p>
  
  .</p>-->

<div class="clear"></div>

<h1>The Four Elements</h1>
<div class="blue">
<p>Society is a delicate balance between economy & environment, education, government & politics, and the belief systems of it's citizens. Phourus is a social community that breaks these components of society into 4 sections called <span class="term">Elements</span></p>
</div>
<div class="elements">
  <% _.each(data, function(type){ %>
    <% if(!_.isUndefined(type.element)){ %>
      <a href="javascript:void(0)" class="learn" id="learn-<%= type.element %>"><span><%= type.element %></span><img src="/assets/elements/color/<%= type.element %>.png" />Click to learn more...</a>
    <% } %> 
  <% }); %>
</div>
<div class="clear"></div>
<% _.each(data, function(type){ %>
	<% if(!_.isFunction(type)){ %>
		<div class="element" id="element-<%= type.element %>">
			<!--<h3>Phourus <%= type.element %></h3>-->
			<!--<a href="javascript: void(0)" class="learn" id="learn-<%= type.element %>">Learn More</a>-->
			<div class="clear"></div>
			<div class="about">
			  <span><%= type.description %></span>
  			<% _.each(type.sections, function(value, key, list){ %>
  				<div class="feature">
  					<img src="/assets/icons/large/<%= type.element %>/<%= key %>.png" class="icon">
  					<div class="info">
    					<div class="label" id="<%= type.element %>:<%= key %>"><%= value %></div>
    					<div class="description"><%= data.description(key) %></div>		
  					</div>
  				</div>
  			<% }); %>
			</div>
			<div class="clear"></div>
		</div>
	<% } %>
<% }); %>

<h1>Influence</h1>
<div class="gold">
<p>Influence is a numeric rating given to nearly every post, user and organization on Phourus. This score indicates to other users on Phourus how credible something is based on the number of views, comments, thumbs etc.</p>
</div>

<img src="/assets/home/influence.jpg" />
<p>The idea behind Influence is that the best material rises to the top, making Phourus essentially a competition for creating valuable content.</p>
<br />