<a href="#!govs">&laquo; Back to list</a>
<div id="gov-heading"></div>
<ul class="tabs">
	<li><a href="javascript:void(0)" id="tab-basic">Basic</a></li>
	<li><a href="javascript:void(0)" id="tab-details">Details</a></li>
	<li><a href="javascript:void(0)" id="tab-contact">Contact</a></li>
	<li><a href="javascript:void(0)" id="tab-more">More</a></li>
</ul>	
<br clear="all" />
<div id="gov-sections">
	<div id="gov-basic"></div>
	<div id="gov-details"></div>
	<div id="gov-contact"></div>
	<div id="gov-more"></div>
</div>
<br clear="all" />