<h3><%= org.name %></h3>
<div class="pic">
  <img src="<%= pic('orgs', org.id, org.img) %>" onerror="this.src='/assets/pics/default.png'" height="80" />
</div>
<div class="box">
	<ul>
	  <% if(org['type'] === 'gov'){ %><li><strong>Population:</strong><% } %>
	  <% if(org['type'] === 'company'){ %><li><strong>Employees:</strong><% } %>
	  <% if(org['type'] === 'school'){ %><li><strong>Students & Faculty:</strong><% } %>
	  <% if(org['type'] === 'group'){ %><li><strong>Members:</strong><% } %>
		<%= org.people %></li>
		<li><strong>Users:</strong> <%= stats.members %></li>
		<li><strong>Pending:</strong> <%= stats.pending %></li>
	</ul>	
</div>
<div class="box">
	<ul>
		<li><strong>Total Posts:</strong> <%= stats.posts %></li>
		<li><strong>Avg Post:</strong> <%= stats.avg_post %></li>
		<li><strong>Avg User:</strong> <%= stats.avg_user %></li>
	</ul>	
</div>
<div class="influence">
	<div class="label">Org Influence:</div>
	<span class="value"><%= org.influence %></span>	
</div>
<div class="social">
	<ul>
		<li><strong>Views:</strong> <%= stats.views %></li>
		<li><strong>Comments:</strong> <%= stats.comments %></li>
		<li><strong>Fans:</strong> <%= stats.follows %></li>
		<li><strong>Thumbs:</strong> <%= stats.thumbs %></li>
	</dl>	
</div>
<div class="clear"></div>