<h3><%= meta.title %></h3>
<div class="pic">
	<a href="#user/<%= user.id %>">
		<img src="<%= pic('users', user.id, user.img) %>" onerror="this.src='/assets/pics/default.png'" height="80" />
	</a>
</div>
<div class="box">
  <ul class="user">
	  <li><strong><%= user.first %> <%= user.last.slice(0, 1) %>.</strong></li>
	  <% if(!_.isUndefined(address)){ %>
	   <li>
	     <%= address.city %>
	     <% if(!_.isUndefined(address.city) && !_.isUndefined(address.state)){ %>,<% } %> 
	     <%= address.state %>
	   </li>
	  <% } %>
	  <% if(post.created !== '0000-00-00 00:00:00'){ %><li class="created"><%= format_date(post.created, 'relative') %></li><% } %>
	</ul>	
</div>
<div class="box">
  <ul id="detail">
  	<% if(!_.isUndefined(meta.positive)){ %><li><strong>Positive:</strong> <%= meta.positive %></li><% } %> 
  	<% if(!_.isUndefined(meta.category)){ %><li><strong>Category:</strong> <%= meta.category %></li><% } %> 
  	<% if(!_.isUndefined(element)){ %><li><strong>Element:</strong> <%= element %></li><% } %> 
  	<% if(!_.isUndefined(meta.date)){ %><li><strong>Date/Time:</strong> <%= meta.date %></li><% } %> 
  	<% if(!_.isUndefined(meta.address)){ %><li><strong>Address:</strong> <%= meta.address %></li><% } %> 
  	<% if(!_.isUndefined(meta.difficulty)){ %><li><strong>Difficulty:</strong> <%= meta.difficulty %></li><% } %> 
  	<% if(!_.isUndefined(meta.scope)){ %><li><strong>Scope:</strong> <%= meta.scope %></li><% } %> 
  </ul> 
</div>	
<div class="influence">
	<div class="label">Post Influence:</div>
	<span class="value"><%= post.influence %></span>
</div>
<div class="social">
  <ul>
  	<li><strong>Views:</strong> <%= stats.views %></li> 
  	<li><strong>Comments:</strong> <%= stats.comments %></li>
  	<li><strong>Thumbs:</strong> <%= stats.thumbs %></li>
  	<li><strong>Popularity:</strong> <%= stats.popularity %>%</li>
  </ul> 
</div>
<div class="clear"></div>