<h3><%= user.username %></h3>
<div class="pic">
  <img src="<%= pic('users', user.id, user.img) %>" onerror="this.src='/assets/pics/default.png'" height="80" />
</div>
<div class="box">
	<ul>
		<li><%= user.city %>, <%= user.state %></li>
		<li><%= user.occupation %> at <%= user.company %></li>
		<span style="font-size: 14px;"><strong>Member Since:</strong> <%= user.created %></span>
		<% if(owner== true){ %><li><a href="javascript:void(0)" id="update_account">Edit Profile Information</a></li><% } %>
	</ul>
</div>
<div class="box">
  <ul>
		<li><strong>Website: </strong><%= user.website %></li>
		<li><strong>Email: </strong><%= user.email %></li>
  </ul>
</div>
<div class="influence">
	<div class="label">User Influence:</div>
	<span class="value"><%= user.influence %></span>	
</div>
<% if(!_.isUndefined(stats)){ %>
<div class="social">
  <ul>
  	<li><strong>Views:</strong> <%= stats.views %></li> 
  	<li><strong>Comments:</strong> <%= stats.comments %></li>
  	<li><strong>Thumbs:</strong> <%= stats.thumbs %></li>
  	<li><strong>Popularity:</strong> <%= stats.popularity %>%</li>
  </ul> 
</div>
<% } %>
<div class="clear"></div>
