<h3><%= user.username %></h3>
<div class="pic">
  <img src="<%= pic('users', user.id, user.img) %>" onerror="this.src='/assets/pics/default.png'" height="80" />
	<% if(owner== true){ %>
  	<form action="/rest/pic/<%= user.id %>" method="post" enctype="multipart/form-data" target="upload">
      <input type="file" name="pic" id="pic"><br>
      <input type="hidden" name="type" value="user" />
      <input type="submit" name="submit" value="Upload" class="button blue">
    </form>
    <iframe id="upload" style="width:0px;height:0px;display:none;" />
  <% } %>
</div>
<div class="box">
	<ul>
		<li><%= user.city %>, <%= user.state %></li>
		<li><%= user.occupation %> at <%= user.company %></li>
		<span style="font-size: 14px;"><strong>Member Since:</strong> <%= user.created %></span>
		<% if(owner== true){ %><li><a href="javascript:void(0)" id="update_account">Edit Profile Information</a></li><% } %>
	</ul>
</div>
<div class="box">
  <ul>
		<li><strong>Website: </strong><%= user.website %></li>
		<li><strong>Email: </strong><%= user.email %></li>
  </ul>
</div>
<div class="influence">
	<div class="label">User Influence:</div>
	<span class="value"><%= user.influence %></span>	
</div>
<div class="social">
  <ul>
  	<li><strong>Views:</strong> <%= stats.views %></li> 
  	<li><strong>Comments:</strong> <%= stats.comments %></li>
  	<li><strong>Thumbs:</strong> <%= stats.thumbs %></li>
  	<li><strong>Popularity:</strong> <%= stats.popularity %>%</li>
  </ul> 
</div>
