<div style="border-bottom: dotted 1px #000; margin-bottom: 20px;">
	<span class="pic">
		<a href="javascript:void(0)">
			<img src="/assets/profiles/default.png" width="70" height="70" />
		</a>
	</span>
	<ul style="float: left; width: 320px;">
		<li><strong><%= data.username %></strong></li>
		<li><strong><%= data.city %><% if(data.city && data.state){ %>,<% } %> <%= data.state %></strong></li> 
		<li><strong>Created:</strong><%= data.created %></li>  
		<li><a href="#!stream" style="color: #09C;font-size:14px; font-weight: bold; padding: 0px; display: block; clear: left;">« Back to List</a></li>
	</ul> 
	<ul style="float: left; width: 200px;">
		<% if(!_.isUndefined(data.positive)){ %><li><strong>Positive:</strong> <%= data.positive %></li><% } %> 
		<% if(!_.isUndefined(data.category)){ %><li><strong>Category:</strong> <%= data.category %></li><% } %> 
		<% if(!_.isUndefined(data.element)){ %><li><strong>Element:</strong> <%= data.element %></li><% } %> 
		<% if(!_.isUndefined(data.date)){ %><li><strong>Date/Time:</strong> <%= data.date %></li><% } %> 
		<% if(!_.isUndefined(data.address)){ %><li><strong>Address:</strong> <%= data.address %></li><% } %> 
		<% if(!_.isUndefined(data.difficulty)){ %><li><strong>Difficulty:</strong> <%= data.difficulty %></li><% } %> 
		<% if(!_.isUndefined(data.scope)){ %><li><strong>Scope:</strong> <%= data.scope %></li><% } %> 
	</ul> 	
	<ul style="float: left; width: 200px;">
		<li><strong>Views:</strong> <%= data.views %></li> 
		<li><strong>Comments:</strong> <%= data.comments %></li>
		<li><strong>Shares:</strong> <%= data.shares %></li>
	</ul> 	
	<div class="influence" style="margin-top: 10px; width: 100px;">
		Influence:<br />
		<span style="font-size: 48px;"><%= data.influence %></span>
	</div>
	<br clear="all" />
</div>