.m404 {
  text-align: center;
}
.m404 img {
  border: none;
  width: 100px;
  height: 100px;
}
.m404 .message {
  border-top: dashed 1px #ccc;
  border-bottom: dashed 1px #ccc;
  margin: 20px auto 40px auto;
  padding: 10px 0px 10px 0px;
  width: 80%;
}
/** HOME **/
.about h1 {
  padding-top: 40px;
  font-size: 3em;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  border: none;
  text-align: center;
  color: #4b4b4d;
  margin-bottom: 20px;
}
.about h2 {
  text-shadow: none;
  font-weight: normal;
  color: #fafafa;
  font-size: 1.5em;
}
.about h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.9em;
  color: #333;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
.about img {
  margin: 40px auto;
  display: block;
  border: none;
}
.about #signup h3,
.about #signorg h3 {
  font-size: 1.3em;
  color: #fafafa;
}
.about #signup div,
.about #signorg div {
  height: 40px;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #222;
}
.about p {
  font-size: 1.3em;
  color: #444;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  line-height: 30px;
  font-style: italic;
  margin: 20px 60px 0px 60px;
  padding: 20px 10px 20px 10px;
  border-top: dashed 1px #ccc;
  border-bottom: dashed 1px #ccc;
  width: 960px;
  margin: auto;
}
.about div.red,
.about div.blue,
.about div.green,
.about div.gold {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 200px;
}
.about div.red p,
.about div.blue p,
.about div.green p,
.about div.gold p {
  color: #ffffff;
  border-top: none;
  border-bottom: none;
  border-left: solid 1px #eee;
  border-right: solid 1px #eee;
  letter-spacing: 2px;
  text-align: center;
  width: 600px;
  font-size: 1em;
  margin-top: 20px;
  font-weight: normal;
  font-style: italic;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
}
.about div.red {
  border-top: solid 8px #cc3300;
  border-bottom: solid 8px #cc3300;
  background-color: #d65e35;
}
.about div.blue {
  border-top: solid 8px #4f9db6;
  border-bottom: solid 8px #4f9db6;
  background-color: #72afc3;
}
.about div.green {
  border-top: solid 8px #98b849;
  border-bottom: solid 8px #98b849;
  background-color: #a7c266;
}
.about div.gold {
  border-top: solid 8px #df9d1a;
  border-bottom: solid 8px #df9d1a;
  background-color: #e6b657;
}
.about .learn#learn-earth:hover {
  color: #98b849;
}
.about .learn#learn-voice:hover {
  color: #cc3300;
}
.about .learn#learn-mind:hover {
  color: #4f9db6;
}
.about .learn#learn-self:hover {
  color: #e6b657;
}
.about .learn {
  width: 200px;
  float: left;
  text-align: center;
  font-size: 0.9em;
  text-decoration: none;
}
.about .learn span {
  font-size: 1.3em;
  text-transform: uppercase;
}
.about .learn img {
  margin: 0px;
  padding: 0px;
}
.about #what,
.about #why {
  width: 400px;
  float: left;
  text-align: center;
  margin-right: 40px;
}
.about #what p,
.about #why p {
  width: inherit;
}
.about .term {
  font-style: normal;
  color: #111;
  text-decoration: underline;
  letter-spacing: 2px;
}
.about .elements {
  width: 860px;
  margin: 40px auto;
}
.about .elements a {
  margin-right: 10px;
}
.about .element {
  width: 840px;
  margin: 20px auto;
  padding: 10px;
  display: none;
  background-color: #f3f3f3;
  text-align: center;
  box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
}
.about .element a {
  margin-right: 20px;
}
.about .element h3 {
  padding: 30px 0px 0px 0px;
  font-size: 1.2em;
  margin: 20px 0px 15px 0px;
  font-style: italic;
  color: #fafafa;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.about .element span {
  font-size: 1.1em;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 750px;
  font-style: italic;
  border-top: dashed 1px #ccc;
  border-bottom: dashed 1px #ccc;
}
.about .element .info {
  width: 760px;
  float: left;
  margin: 0px 0px 20px 20px;
  color: #777;
  text-align: left;
}
.about .element .info .label {
  font-size: 1em;
  text-transform: uppercase;
  color: #555;
}
.about .element .info .description {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  font-style: normal;
  clear: left;
  text-align: justify;
}
.about .element#element-earth {
  display: block;
}
.about .feature img.icon {
  margin: 20px 0px 0px 10px;
}
.about .feature .label {
  padding-top: 10px;
  font-size: 1.2em;
}
.about #signup {
  float: left;
  width: 350px;
}
.about #signorg {
  float: left;
  width: 500px;
  padding-left: 10px;
}
.about .fill {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 1px;
}
.about .fill.blue {
  height: 960px;
  top: 380px;
  background-color: #81cee7;
}
.about .fill.green {
  height: 920px;
  top: 2120px;
  background-color: #d6edd7;
  border-top: solid 2px #85a086;
  border-bottom: solid 2px #85a086;
}
.about .fill.red {
  height: 560px;
  top: 3500px;
  background-color: #f90;
}
.about .org {
  width: 960px;
}
.about .org p {
  height: 130px;
  font-size: 1.2em;
}
h4.red {
  color: #cc3300;
}
h4.blue {
  color: #4f9db6;
}
h4.green {
  color: #98b849;
}
h4.gold {
  color: #df9d1a;
}
.org {
  margin: 10px;
  margin: auto;
  padding: 20px 0px 10px 0px;
  border-bottom: dashed 1px #ccc;
}
.org h3,
.org h4 {
  margin: 0px;
}
.org h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.4em;
  color: #333;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
.org p {
  font-style: italic;
  height: 80px;
  border: none;
  padding: 0px;
}
.org .term {
  color: #111;
}
.org img {
  border: none;
}
.org.l img {
  float: left;
  margin: 0px 20px 0px 0px;
}
.org.r {
  text-align: right;
}
.org.r h4 {
  text-align: right !important;
}
.org.r img {
  margin: 0px 0px 0px 20px;
  float: right;
}
div#alerts {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 1em;
}
div#alerts .alert {
  height: 20px;
  padding: 10px;
  margin: 5px;
  border: solid 1px;
}
div#alerts .close {
  font-weight: bold;
  text-decoration: none;
}
div#alerts .close:hover {
  color: #fff;
}
div#alerts .complete {
  border-color: #093;
  background-color: #CFC;
}
div#alerts .message {
  border-color: #FF3;
  background-color: #FFC;
}
div#alerts .error {
  border-color: #F00;
  background-color: #Faa;
}
/** LOGIN **/
#footer #inner #signin .auth {
  float: left;
  width: 300px;
}
.auth {
  /** SPECIFIC **/

  /** ACCOUNT **/

}
.auth div .forgot {
  font-size: 0.7em;
  line-height: 13px;
  text-transform: none;
  color: #3ac;
}
.auth div .forgot:hover {
  color: #666;
}
.auth #auth-header input,
.auth #auth-footer input {
  height: 25px;
  width: 160px;
  font-size: 1em;
  float: left;
  margin-right: 4px;
}
.auth #auth-header {
  width: 485px;
  float: right;
  margin-top: 16px;
  margin-left: 10px;
  color: #333;
  line-height: 8px;
}
.auth #auth-header a.button {
  width: 60px;
  height: 21px;
  margin-top: 0px;
  padding-top: 14px;
  text-transform: none;
  font-size: 0.7em;
  text-decoration: none;
}
.auth #auth-footer {
  margin-top: 0px !important;
  float: left;
}
.auth #auth-footer .button {
  float: right;
}
.auth #auth-footer .forgot {
  display: none;
}
.auth #auth-footer input {
  border: solid 1px #000;
  height: 30px;
  font-size: 1.2em;
  background-color: #ddd;
  box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  -webkit-box-shadow: 0px 0px 0px #000000;
}
.auth #auth-footer a.profile {
  float: left;
  margin: 0px;
}
.auth #auth-footer #welcome {
  text-align: left;
  margin: 0px;
}
.auth #auth-footer #welcome ul {
  margin: 0px;
  text-align: left;
  float: left;
}
.auth #auth-footer #welcome ul li {
  display: inline;
  margin-right: 6px;
  padding-right: 4px;
  border-right: solid 1px #aaa;
}
.auth #auth-footer #welcome ul li a {
  font-size: 0.9em;
}
.auth #auth-home .button {
  float: none;
}
.auth #auth-home .forgot {
  display: none;
}
.auth #auth-home a.profile {
  float: left;
}
.auth #auth-home #welcome {
  float: left;
  text-align: left;
  font-size: 1.1em;
}
.auth #auth-home #welcome ul {
  margin: 0px;
  float: left;
  text-align: left;
  line-height: 18px;
}
.auth #auth-home #welcome ul li a {
  font-size: 0.7em;
}
.auth span#account a {
  color: #ccc;
}
.auth span#account a:hover {
  color: #f90;
}
/** LOGOUT **/
.auth a.profile {
  margin: -14px 10px 0px 0px;
  float: right;
  display: block;
}
.auth #welcome {
  text-align: right;
  color: #333;
  float: right;
  margin: -6px 4px 0px 0px;
  font-size: 0.8em;
  font-style: italic;
}
.auth #welcome ul {
  float: right;
  text-align: right;
  padding: 0px;
  margin: 10px 4px 0px 0px;
}
.auth #welcome ul li {
  margin: 0px 0px 6px 0px;
  padding: 0px;
  list-style: none;
}
.auth #welcome ul li a {
  margin: 0px 0px 3px 0px;
  padding: 0px;
  font-size: 0.7em;
  color: #6ac;
  font-style: normal;
}
/** REGISTER **/
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position: fixed;
  z-index: 9000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: none;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.window {
  position: fixed;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
}
#register {
  background-color: #fff;
  margin: 0px;
  padding: 10px;
}
#register input {
  margin-bottom: 20px;
}
#register label {
  width: 200px;
}
#titlebar a {
  color: #fff;
  text-decoration: none;
}
#titlebar a:hover {
  color: #f90;
}
/** BUTTONS **/
button.button,
a.button,
input.button,
input#searchsubmit {
  display: block;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  font-size: 0.9em !important;
  color: #eee !important;
  width: 160px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  text-decoration: none;
  margin: 4px;
  float: left;
  border-top: groove 2px #eeeeee;
  border-bottom: ridge 2px #eeeeee;
  border-left: groove 2px #eeeeee;
  border-right: ridge 2px #eeeeee;
}
.button.dark {
  border-top: ridge 2px #555555;
  border-bottom: groove 2px #555555;
  border-left: ridge 2px #555555;
  border-right: groove 2px #555555;
}
#sidebar .button,
#footer .button,
#footing .button {
  border-top: ridge 2px #555555;
  border-bottom: groove 2px #555555;
  border-left: ridge 2px #555555;
  border-right: groove 2px #555555;
}
a.button {
  padding-top: 8px;
  height: 32px;
}
button.button:hover,
a.button:hover,
input.button:hover,
input#searchsubmit:hover {
  cursor: pointer;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
  font-weight: normal !important;
}
/** GREEN **/
button.green.button,
a.green.button,
input.green.button,
input#searchsubmit.green {
  background: -moz-linear-gradient(top, #00bb00 0%, #009900);
  background: -webkit-gradient(linear, left top, left bottom, from(#00bb00), to(#009900));
  background-color: #009900;
}
button.green.button:hover,
a.green.button:hover,
input.green.button:hover,
input#searchsubmit.green:hover {
  background: -moz-linear-gradient(top, #009900 0%, #00bb00);
  background: -webkit-gradient(linear, left top, left bottom, from(#009900), to(#00bb00));
  background-color: #00bb00;
}
/** BLUE **/
button.blue.button,
a.blue.button,
input.blue.button,
input#searchsubmit.blue {
  background: -moz-linear-gradient(top, #0088ff 0%, #0055cc);
  background: -webkit-gradient(linear, left top, left bottom, from(#0088ff), to(#0055cc));
  background-color: #0055cc;
}
button.blue.button:hover,
a.blue.button:hover,
input.blue.button:hover,
input#searchsubmit.blue:hover {
  background: -moz-linear-gradient(top, #0055cc 0%, #0088ff);
  background: -webkit-gradient(linear, left top, left bottom, from(#0055cc), to(#0088ff));
  background-color: #0088ff;
}
/** RED **/
button.red.button,
a.red.button,
input.red.button,
input#searchsubmit.red {
  background: -moz-linear-gradient(top, #dd0000 0%, #aa0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#dd0000), to(#aa0000));
  background-color: #aa0000;
}
button.red.button:hover,
a.red.button:hover,
input.red.button:hover,
input#searchsubmit.red:hover {
  background: -moz-linear-gradient(top, #aa0000 0%, #dd0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#aa0000), to(#dd0000));
  background-color: #dd0000;
}
/** HOME **/
a.button-home {
  display: block;
  width: 200px;
  height: 200px;
  cursor: pointer;
  float: left;
}
/* Original
a.button-home#button-earth { background-image: url('/assets/elements/white/earth.png'); }
a.button-home#button-mind { background-image: url('/assets/elements/white/mind.png'); }
a.button-home#button-voice { background-image: url('/assets/elements/white/voice.png'); }
a.button-home#button-self { background-image: url('/assets/elements/white/self.png'); }
a.button-home#button-earth:hover { background-image: url('/assets/elements/black/earth.png'); }
a.button-home#button-mind:hover { background-image: url('/assets/elements/black/mind.png'); }
a.button-home#button-voice:hover { background-image: url('/assets/elements/black/voice.png'); }
a.button-home#button-self:hover { background-image: url('/assets/elements/black/self.png'); }
*/
a.button-home#button-earth {
  background-image: url('/assets/elements/color/earth.png');
}
a.button-home#button-mind {
  background-image: url('/assets/elements/color/mind.png');
}
a.button-home#button-voice {
  background-image: url('/assets/elements/color/voice.png');
}
a.button-home#button-self {
  background-image: url('/assets/elements/color/self.png');
}
/*
a.button-home#button-earth:hover { background-image: url('/assets/elements/white/earth.png'); }
a.button-home#button-mind:hover { background-image: url('/assets/elements/white/mind.png'); }
a.button-home#button-voice:hover { background-image: url('/assets/elements/white/voice.png'); }
a.button-home#button-self:hover { background-image: url('/assets/elements/white/self.png'); }*/
/** GOOGLE **/
button.social {
  background-color: transparent;
  border: none;
  width: 325px;
  height: 50px;
  cursor: pointer;
}
#google {
  background-image: url('/assets/buttons/google/login/normal.png');
}
#google:hover {
  background-image: url('/assets/buttons/google/login/over.png');
}
#google.logout {
  background-image: url('/assets/buttons/google/logout/normal.png');
}
#google.logout:hover {
  background-image: url('/assets/buttons/google/logout/over.png');
}
#facebook {
  background-image: url('/assets/buttons/facebook/login/normal.png');
}
#facebook:hover {
  background-image: url('/assets/buttons/facebook/login/over.png');
}
#facebook.logout {
  background-image: url('/assets/buttons/facebook/logout/normal.png');
}
#facebook.logout:hover {
  background-image: url('/assets/buttons/facebook/logout/over.png');
}
#linkedin {
  background-image: url('/assets/buttons/linkedin/login/normal.png');
}
#linkedin:hover {
  background-image: url('/assets/buttons/linkedin/login/over.png');
}
#linkedin.logout {
  background-image: url('/assets/buttons/linkedin/logout/normal.png');
}
#linkedin.logout:hover {
  background-image: url('/assets/buttons/linkedin/logout/over.png');
}
/** CUSTOM **/
/*!
 * FullCalendar v1.6.2 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */
.fc {
  direction: ltr;
  text-align: left;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}
html .fc,
.fc table {
  font-size: 1em;
}
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}
/* Header
------------------------------------------------------------------------*/
.fc-header td {
  white-space: nowrap;
}
.fc-header-left {
  width: 25%;
  text-align: left;
}
.fc-header-center {
  text-align: center;
}
.fc-header-right {
  width: 25%;
  text-align: right;
}
.fc-header-title {
  display: inline-block;
  vertical-align: top;
}
.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
}
.fc .fc-header-space {
  padding-left: 10px;
}
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
}
/* buttons edges butting together */
.fc-header .fc-button {
  margin-right: -1px;
}
.fc-header .fc-corner-right,
.fc-header .ui-corner-right {
  /* theme */

  margin-right: 0;
  /* back to normal */

}
/* button layering (for border precedence) */
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
}
.fc-header .fc-state-down {
  z-index: 3;
}
.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
}
/* Content
------------------------------------------------------------------------*/
.fc-content {
  clear: both;
}
.fc-view {
  width: 100%;
  /* needed for view switching (when view is absolute) */

  overflow: hidden;
}
/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,
.fc-widget-content {
  /* <td>, usually */

  border: 1px solid #ddd;
}
.fc-state-highlight {
  /* <td> today cell */
  /* TODO: add .fc-today to <th> */

  background: #fcf8e3;
}
.fc-cell-overlay {
  /* semi-transparent rectangle while dragging */

  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */

}
/* Buttons
------------------------------------------------------------------------*/
.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;
  line-height: 1.9em;
  white-space: nowrap;
  cursor: pointer;
}
.fc-state-default {
  /* non-theme */

  border: 1px solid;
}
.fc-state-default.fc-corner-left {
  /* non-theme */

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fc-state-default.fc-corner-right {
  /* non-theme */

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*
	Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
	and we'll try to make them look good cross-browser.
*/
.fc-text-arrow {
  margin: 0 .1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline;
  /* for IE7 */

}
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  /* for &lsaquo; &rsaquo; */

  font-weight: bold;
}
/* icon (for jquery ui) */
.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
}
.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
}
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/
.fc-state-default {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #e6e6e6;
}
.fc-state-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.fc-state-down,
.fc-state-active {
  background-color: #cccccc;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
/* Global Event Styles
------------------------------------------------------------------------*/
.fc-event {
  border: 1px solid #3a87ad;
  /* default BORDER color */

  background-color: #3a87ad;
  /* default BACKGROUND color */

  color: #fff;
  /* default TEXT color */

  font-size: .85em;
  cursor: default;
}
a.fc-event {
  text-decoration: none;
}
a.fc-event,
.fc-event-draggable {
  cursor: pointer;
}
.fc-rtl .fc-event {
  text-align: right;
}
.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
}
.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden;
  /* hacky spaces (IE6/7) */

  font-size: 300%;
  line-height: 50%;
  /* */

}
/* Horizontal Events
------------------------------------------------------------------------*/
.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
}
.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* resizable */
.fc-event-hori .ui-resizable-e {
  top: 0           !important;
  /* importants override pre jquery ui 1.7 styles */

  right: -3px !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: e-resize;
}
.fc-event-hori .ui-resizable-w {
  top: 0           !important;
  left: -3px !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: w-resize;
}
.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px;
  /* IE6 had 0 height */

}
/* Reusable Separate-border Table
------------------------------------------------------------*/
table.fc-border-separate {
  border-collapse: separate;
}
.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
}
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
}
/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid th {
  text-align: center;
}
.fc .fc-week-number {
  width: 22px;
  text-align: center;
}
.fc .fc-week-number div {
  padding: 0 2px;
}
.fc-grid .fc-day-number {
  float: right;
  padding: 0 2px;
}
.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* for IE */

  /* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */

}
.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px;
  /* distance between events and day edges */

}
/* event styles */
.fc-grid .fc-event-time {
  font-weight: bold;
}
/* right-to-left */
.fc-rtl .fc-grid .fc-day-number {
  float: left;
}
.fc-rtl .fc-grid .fc-event-time {
  float: right;
}
/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/
.fc-agenda table {
  border-collapse: separate;
}
.fc-agenda-days th {
  text-align: center;
}
.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
}
.fc-agenda .fc-week-number {
  font-weight: bold;
}
.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
}
/* make axis border take precedence */
.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
}
.fc-agenda-days .fc-col0 {
  border-left-width: 0;
}
/* all-day area */
.fc-agenda-allday th {
  border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content {
  min-height: 34px;
  /* TODO: doesnt work well in quirksmode */

  _height: 34px;
}
/* divider (between all-day and slots) */
.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
  background: #eee;
}
/* slot rows */
.fc-agenda-slots th {
  border-width: 1px 1px 0;
}
.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
}
.fc-agenda-slots td div {
  height: 20px;
}
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: dotted;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid;
  /* doesn't work with background in IE6/7 */

}
/* Vertical Events
------------------------------------------------------------------------*/
.fc-event-vert {
  border-width: 0 1px;
}
.fc-event-vert.fc-event-start {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
}
.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
}
.fc-event-vert .fc-event-bg {
  /* makes the event lighter w/ a semi-transparent overlay  */

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
}
.fc .ui-draggable-dragging .fc-event-bg,
.fc-select-helper .fc-event-bg {
  display: none\9;
  /* for IE6/7/8. nested opacity filters while dragging don't work */

}
/* resizable */
.fc-event-vert .ui-resizable-s {
  bottom: 0        !important;
  /* importants override pre jquery ui 1.7 styles */

  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}
.fc-agenda .ui-resizable-resizing {
  /* TODO: better selector */

  _overflow: hidden;
}
/*!
 * FullCalendar v1.6.2 Print Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */
/*
 * Include this stylesheet on your page to get a more printer-friendly calendar.
 * When including this stylesheet, use the media='print' attribute of the <link> tag.
 * Make sure to include this stylesheet IN ADDITION to the regular fullcalendar.css.
 */
/* Events
-----------------------------------------------------*/
.fc-event {
  background: #fff !important;
  color: #000 !important;
}
/* for vertical events */
.fc-event-bg {
  display: none !important;
}
.fc-event .ui-resizable-handle {
  display: none !important;
}
#main {
  width: 100%;
  overflow: hidden;
}
#content.homepage {
  background: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
}
/** FORM/SINGLE **/
div#footing {
  background-color: #333;
  padding: 0px;
  border: solid 1px #eee;
  width: 100%;
  margin: 0px;
}
/** CONTENT **/
#content {
  width: 78%;
  padding: 20px 1.5% 0px 1.5%;
  margin: 20px 0% 20px 2%;
  font-size: 1em;
  float: left;
  background-color: #fff;
  box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  height: 100%;
  min-height: 600px;
  /*background-color: #ffffff;
  border: solid 1px #ccc;
  .box-shadow;*/
  /** WIDGETS **/

}
#content p.summary {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 40px;
}
#content h4 {
  text-align: left;
  padding: 0px;
  margin: 10px 0px 0px 0px;
}
#content .contact textarea {
  width: 800px;
}
#content .terms ul,
#content .privacy ul {
  margin: 20px;
}
#content #org_menu.show {
  width: 15%;
  margin-right: 2%;
}
#content #org_menu {
  float: left;
  text-align: right;
  margin-top: 20px;
}
#content #org_menu ul {
  display: none;
}
#content #org_menu ul li {
  list-style: none;
}
#content #org_menu ul li a {
  text-decoration: none;
}
#content #widgets.full {
  width: 100%;
}
#content #widgets {
  float: left;
  width: 80%;
}
#content #widgets .left {
  width: 500px;
  float: left;
}
#content #widgets .right {
  width: 240px;
  float: right;
}
#content #widgets #award {
  width: 47%;
  float: left;
}
#content #widgets #press {
  width: 47%;
  float: right;
}
#content #widgets #award img,
#content #widgets #press img {
  border: none;
  float: left;
}
#content #widgets #award h4,
#content #widgets #press h4 {
  clear: both;
}
#content #widgets #award div,
#content #widgets #press div {
  background-color: #f7f7f7;
  padding: 10px;
  margin: 4px;
}
#content #widgets #award div:hover,
#content #widgets #press div:hover {
  background-color: #fafafa;
  cursor: pointer;
}
#content #widgets .item img.star {
  margin: 0px -8px 0px 0px;
  padding: 0px;
  border: none;
}
#content .orgs div#settings {
  width: 20%;
  float: left;
}
#content .orgs div#settings .zip {
  height: 60px;
  text-align: left;
}
#content .orgs div#settings .zip input {
  width: 120px;
  height: 28px;
}
#content .orgs div#settings .zip button {
  width: 60px;
  margin-top: 0px;
}
#content .orgs div#settings .or {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0px;
}
#content .orgs div#settings .state {
  height: 60px;
}
#content .orgs div#settings .state select {
  width: 160px;
}
#content .orgs span {
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  font-style: italic;
  font-size: 1.3em;
}
#content .form select#types {
  width: 180px;
  text-transform: capitalize;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  font-size: 0.6em;
}
body.agency #content {
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.3em;
  line-height: 200%;
}
body.agency #sidebar h3 {
  color: #ddd;
  font-size: 1.2em;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
}
div#gmap {
  height: 400px;
  border: solid 4px #777;
  width: 75%;
  float: left;
  margin-right: 2%;
}
#footer {
  clear: both;
  float: right;
  width: 100%;
  background-color: #393939;
  margin: 0px;
  padding-top: 10px;
  color: #eee;
  height: 440px;
  border-top: groove 2px #333;
  background-image: url('/assets/layout/footer.png');
  background-position: right top;
  background-repeat: no-repeat;
}
#footer a {
  color: #ccc;
  text-decoration: none;
}
#footer .inner {
  width: 90%;
  margin: 20px 5%;
}
#footer .mid {
  margin-bottom: 35px;
  border-top: dashed 2px #444;
  border-bottom: dashed 2px #444;
  height: 240px;
  overflow: hidden;
}
#footer .mid .left {
  width: 50%;
}
#footer .mid #contact {
  width: 50%;
}
#footer .mid #contact p {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  font-size: 0.8em;
}
#footer .bottom {
  background-color: #313131;
  color: #eee;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  text-decoration: none;
  float: none;
  clear: both;
  line-height: 20px;
  padding: 20px 0px 10px 0px;
}
#footer div {
  float: left;
}
#footer div h3 {
  margin: 0px;
  padding: 0px;
}
#footer div img {
  border: none;
  float: left;
  height: 40px;
}
#footer div input {
  height: 24px;
  width: 120px;
  margin-top: 7px;
}
#footer #signup {
  width: 100%;
}
#footer #signup h3 {
  width: 250px;
}
#footer #signorg {
  width: 100%;
}
#footer #signorg h3 {
  width: 340px;
}
#footer #signup h3,
#footer #signorg h3,
#footer #signin h3,
#footer #contact h3 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  margin-top: 6px;
  font-size: 0.8em;
  color: #fff;
}
#footer #signup div,
#footer #signorg div,
#footer #signin div,
#footer #contact div {
  margin-top: -8px;
  color: #bbb;
  font-size: 0.8em;
}
#footer #signup div h3,
#footer #signorg div h3,
#footer #signin div h3,
#footer #contact div h3,
#footer #signup div div,
#footer #signorg div div,
#footer #signin div div,
#footer #contact div div {
  font-size: 1em;
}
#footer #signin {
  display: none;
  margin-top: 80px;
}
#footer #signin h3 {
  width: 200px;
}
#footer .login {
  width: 60px;
  float: right;
}
/** SANS SERIF **/
/** SERIF **/
/** MONOSPACE **/
/** CUSTOM **/
/*
@font-face {
  font-family: Perpetua;
  src: url('/assets/fonts/perpetua.eot'); 
  src: local('Perpetua'), url('/assets/fonts/perpetua.ttf') format('truetype');
}

@font-face {
  font-family: "Century Gothic";
  src: url('/assets/fonts/gothic.eot'); 
  src: local('Century Gothic'), url('/assets/fonts/gothic.ttf') format('truetype');
}*/
/** ELEMENTS **/
fieldset {
  border: none;
}
input {
  padding: 4px;
  height: 36px;
  width: 350px;
}
input,
textarea,
select {
  background-color: #fafafa;
  /*border-top: groove 2px #ddd;
border-right: ridge 2px #ddd;
border-left: ridge 2px #ddd;
border-bottom: ridge 2px #ddd;*/

  border-top: groove 2px #eeeeee;
  border-bottom: ridge 2px #eeeeee;
  border-left: groove 2px #eeeeee;
  border-right: ridge 2px #eeeeee;
  font-size: 1.1em;
  color: #333;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  box-shadow: 1px 1px 1px #cccccc 0px 8px #aaaaaa;
  -moz-box-shadow: 1px 1px 1px #cccccc 0px 8px #aaaaaa;
  -webkit-box-shadow: 1px 1px 1px #cccccc 0px 8px #aaaaaa;
  -webkit-box-shadow: 1px 1px 1px #cccccc;
  -moz-box-shadow: 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  margin-bottom: 10px;
}
input.dark,
textarea.dark,
select.dark {
  border-top: ridge 2px #444444;
  border-bottom: groove 2px #444444;
  border-left: ridge 2px #444444;
  border-right: groove 2px #444444;
}
input[type=file] {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
}
input[type=checkbox] {
  border: none;
  background: transparent;
  box-shadow: 0px 0px 0px #ffffff 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 0px #ffffff 0px 8px #aaaaaa;
  -webkit-box-shadow: 0px 0px 0px #ffffff 0px 8px #aaaaaa;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}
label {
  font-size: 1.2em;
  color: #bbb;
  font-style: italic;
  margin: 0px 40px 20px 0px;
}
select {
  height: 36px;
  padding: 4px;
  width: 350px;
  font-size: 1.1em;
  color: #333;
}
textarea {
  padding: 4px;
  height: 360px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  font-size: 0.9em;
  color: #333;
}
.checkbox {
  width: 55px;
  height: 20px;
  background-image: url('/assets/icons/general/checkbox/small/off.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
.checkbox.on {
  background-image: url('/assets/icons/general/checkbox/small/on.png');
}
/** BACKBONE FORMS **/
#fields {
  width: 440px;
  float: left;
}
#fields fieldset ul li label {
  color: #333;
  font-size: 1.1em;
}
#fields fieldset ul li .bbf-editor input {
  height: 30px;
  width: 390px;
}
/** SPECIAL **/
#help {
  font-size: 1.2em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}
#help img {
  border: none;
  margin: -3px 10px 0px 0px;
  padding: 0px;
  float: left;
}
#description {
  width: 410px;
  text-align: left;
  float: left;
  font-size: 1.2em;
  line-height: 40px;
  margin-top: 10px;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  color: #444;
  font-style: italic;
  padding: 10px 0px 10px 0px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  overflow: hidden;
}
.form {
  margin: auto;
}
.form textarea {
  width: 820px;
}
.bbf-error div.bbf-error {
  border: solid 1px #F00;
  background-color: #Faa;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  padding: 4px;
}
header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100px;
  border-bottom: solid 1px #bbb;
  background-color: #fff;
}
header #brand {
  float: left;
  width: 40%;
  height: 80px;
}
header #brand img {
  border: none;
}
header #brand #slogan {
  font-size: 0.6em;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: -36px;
  margin-left: 70px;
  color: #777;
}
.home {
  margin-top: 40px;
}
.home h1 {
  text-align: center;
  font-size: 2.2em;
}
.home h1 a {
  color: #72afc3;
}
.home img {
  width: 100px;
  height: 100px;
  border: none;
}
.home .left {
  width: 48%;
  margin-right: 1%;
  float: left;
  text-align: right;
}
.home .left .button {
  float: right;
}
.home .right {
  width: 48%;
  padding-left: 1%;
  border-left: dotted 1px #333;
  float: left;
}
.home #register-home {
  float: right;
}
.home #register-home #fields label {
  display: none;
}
.home #register-home #fields input {
  width: 350px;
  height: 36px;
  padding: 4px;
}
.home #register-home a.register {
  margin-top: -6px;
  margin-right: 20px;
}
.item {
  border-left: solid 10px #333;
  margin-bottom: 20px !important;
}
.item:hover {
  border-left: solid 10px #6ac;
}
.heading:hover {
  border-bottom: solid 10px #6ac;
}
.heading {
  border-bottom: solid 10px #333;
}
.item,
.heading {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 0px 10px;
  background-color: #f3f3f3;
  /** BOX **/

  /** PIC **/

  /** TITLE **/

  /** POST TYPE **/

  /** USERNAME **/

  /** CREATED **/

  /** EXCERPT **/

  /** INFLUENCE **/

  /** COMMENT **/

  /** LISTS **/

  /** EDIT BUTTON **/

  /** MORE **/

}
.item .box,
.heading .box {
  float: left;
  width: 220px;
}
.item .pic,
.heading .pic {
  float: left;
  margin: 10px 30px 10px 0px;
  width: 120px;
  text-align: center;
}
.item .pic img,
.heading .pic img {
  padding: 2px;
  border: solid 1px #ccc;
  margin-right: 10px;
}
.item h3,
.heading h3 {
  margin: 0px;
  padding: 0px;
}
.item .title,
.heading .title {
  color: #004b91;
  text-decoration: none;
  text-align: left;
}
.item .type,
.heading .type {
  float: left;
  width: 120px;
  margin: 0px;
  padding: 0px;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}
.item .type img.icon,
.heading .type img.icon {
  float: left;
}
.item .type span.label,
.heading .type span.label {
  display: block;
  margin-top: 2px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.item a.username,
.heading a.username {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  color: #48a;
}
.item a.username:hover,
.heading a.username:hover {
  color: #f90;
}
.item .created,
.heading .created {
  font-size: 0.8em;
  font-style: italic;
}
.item .excerpt,
.heading .excerpt {
  font-size: 0.9em;
}
.item .influence,
.heading .influence {
  float: right;
  width: 200px;
  text-align: center;
  font-size: 1.1em;
}
.item .comment,
.heading .comment {
  padding-top: 12px;
  float: left;
  width: 600px;
}
.item .comment span.date,
.heading .comment span.date {
  font-weight: bold;
  font-style: italic;
}
.item .comment textarea,
.heading .comment textarea {
  width: 95%;
  height: 100px;
  display: none;
}
.item .actions,
.heading .actions {
  width: 100px;
  float: right;
}
.item ul,
.heading ul {
  padding: 0px;
  float: left;
}
.item ul li,
.heading ul li {
  list-style: none;
}
.item ul li a,
.heading ul li a {
  text-decoration: none;
}
.item ul.meta,
.heading ul.meta {
  width: 500px;
  font-size: 0.9em;
  color: #333;
  display: block;
  height: 20px;
  padding: 10px 0px 10px 0px;
}
.item ul.meta li,
.heading ul.meta li {
  display: inline;
  margin-right: 20px;
}
.item .button.edit,
.heading .button.edit,
.item .button.delete,
.heading .button.delete,
.item .button.cancel,
.heading .button.cancel,
.item .button.confirm,
.heading .button.confirm,
.item .button.save,
.heading .button.save {
  width: 80px;
}
.item .button,
.heading .button {
  border-top: groove 2px #eeeeee;
  border-bottom: ridge 2px #eeeeee;
  border-left: groove 2px #eeeeee;
  border-right: ridge 2px #eeeeee;
}
.item .more,
.heading .more {
  font-size: 1em;
  color: #18b;
  text-decoration: underline;
  cursor: pointer;
}
.item .more:hover,
.heading .more:hover {
  color: #f90;
}
/** LISTS **/
fieldset ul {
  margin: 0px;
  padding: 0px;
}
fieldset ul li {
  list-style: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  margin: 0px;
  padding: 0px;
}
ul.tabs li {
  float: left;
  list-style: none;
  background-color: #f0f0f0;
  padding: 2px;
  margin-right: 2px;
}
ul.tabs li a {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  width: 100px;
  font-size: 0.7em;
  text-transform: uppercase;
}
ul.tabs li a:hover,
ul.tabs li a.selected:hover {
  color: #f90;
}
ul.tabs li a.selected {
  border-bottom: solid 6px #f90;
  color: #333;
}
ul.tabs li a.disabled {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}
/** DEFINITION LISTS **/
dl {
  display: block;
  width: 250px;
  /*float: left;*/

}
dl dt {
  float: left;
  width: 100px;
  font-weight: bold;
  color: #333;
  font-size: 0.9em;
  overflow: hidden;
}
dl dd {
  overflow: hidden;
  word-wrap: break-word;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* NAV */
nav {
  float: left;
  width: 60%;
  margin: 0px;
  height: 100%;
}
nav ul {
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
  float: right;
  width: 100%;
  height: 100%;
}
nav ul li {
  list-style: none;
  padding: 0px;
  cursor: pointer;
  float: left;
  width: 20%;
  height: 100%;
}
nav ul li a {
  padding: 40px 0px 0px 0px;
  color: #777;
  font-size: 0.9em;
  letter-spacing: 2px;
  letter-spacing: 1px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 0px 0px 0px 0px;
  height: 60px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}
nav ul li a:hover {
  font-weight: bold;
  color: #444;
}
nav ul li a.companies:hover {
  background-color: #d6edd7;
}
nav ul li a.govs:hover {
  background-color: #f7e1e1;
}
nav ul li a.schools:hover {
  background-color: #daeef8;
}
nav ul li a.groups:hover {
  background-color: #ffeeda;
}
nav ul li a:hover {
  background-color: #eee;
}
nav ul li ul {
  display: none;
  float: left;
  width: 200px;
  position: absolute;
}
nav ul li ul li {
  display: list-item;
  list-style: none;
  float: none;
  height: 20px;
  margin-top: 4px;
}
nav ul li ul li a {
  color: #111;
  font-size: 0.9em;
  text-align: left;
}
nav ul li:hover ul {
  display: block;
}
/** POST **/
.post h1 {
  font-size: 1.8em;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}
.post #body {
  margin: 20px;
  line-height: 28px;
  text-align: left;
  padding: 10px 5px 20px 5px;
  margin: 0px;
}
.create a {
  display: block;
  float: left;
}
.create textarea {
  width: 700px;
  height: 100px;
  float: right;
}
.create button {
  float: right;
}
.comment .button {
  border-top: groove 2px #eeeeee;
  border-bottom: ridge 2px #eeeeee;
  border-left: groove 2px #eeeeee;
  border-right: ridge 2px #eeeeee;
  font-size: 0.7em !important;
}
@media screen and (min-width: 1100px) {
  #footer .mid .left {
    width: 70%;
  }
  #footer .mid .left #signin {
    display: block;
  }
  #footer .mid .left #signup {
    width: 40%;
  }
  #footer .mid .left #signorg {
    width: 60%;
  }
  #footer .mid #contact {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  #sidebar {
    width: 15%;
  }
  #content {
    width: 78%;
  }
}
@media screen and (max-width: 1200px) {
  #sidebar {
    width: 19%;
  }
  #content {
    width: 74%;
  }
}
@media screen and (max-width: 1100px) {
  #sidebar {
    width: 20%;
  }
  #content {
    width: 73%;
  }
}
@media screen and (max-width: 960px) {
  #sidebar {
    width: 23%;
  }
  #content {
    width: 70%;
  }
}
/* SIDEBAR */
#sidebar {
  float: left;
  text-align: left;
  border-right: solid 2px #000;
  background-color: #2a2a2a;
  box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  height: 100%;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  color: #eee;
  font-size: 1em;
  /*border-right: solid 1px #ccc;*/

}
#sidebar .profile img {
  margin-top: 10px;
  border: solid 1px #aaa;
  padding: 2px;
}
#sidebar p {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  font-size: 0.8em;
  font-style: italic;
}
#sidebar img {
  border: none;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
}
#sidebar h3 {
  clear: both;
  font-size: 0.9em;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  letter-spacing: 2px;
  background-color: #222;
  background-image: url('/assets/layout/texture.png');
  border-bottom: groove 2px #333;
  margin: 0px 0px 0px 0px;
  padding: 12px 10px 10px 20px;
  color: #eee;
  text-transform: uppercase;
}
#sidebar h3 a {
  color: #ddd;
  font-size: 1em;
}
#sidebar h3.user,
#sidebar h3.notifications,
#sidebar h3.history {
  background-position: left center;
  background-repeat: no-repeat;
}
#sidebar h3.user {
  background-image: url('/assets/icons/sidebar/user.png');
}
#sidebar h3.history {
  background-image: url('/assets/icons/sidebar/history.png');
}
#sidebar h3.notifications {
  background-image: url('/assets/icons/sidebar/notifications.png');
}
#sidebar h3.collapsible {
  cursor: pointer;
}
#sidebar a {
  font-size: 0.8em;
  letter-spacing: 2px;
  color: #eee;
  text-decoration: none;
  font-weight: normal;
}
#sidebar ul li a:hover {
  color: #f90 !important;
}
#sidebar a:hover {
  color: #f90;
  font-weight: bold;
  cursor: pointer;
}
#sidebar a.action {
  color: #18b;
  font-size: 0.7em;
  text-decoration: none;
}
#sidebar a.action:hover {
  color: #f90;
}
#sidebar a.link {
  width: 100px;
}
#sidebar ul {
  margin-left: 10px;
}
#sidebar ul#user li a {
  color: #72afc3;
}
#sidebar ul#notifications li a {
  color: #d65e35;
}
#sidebar ul#history li a {
  color: #a7c266;
}
#sidebar li {
  margin-bottom: 4px;
  list-style: none;
  border-bottom: solid 1px #444;
}
#sidebar select {
  width: 180px;
  text-transform: capitalize;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1em;
}
#sidebar .button {
  float: left;
  margin: 10px 0px 0px 8px;
}
#sidebar table {
  display: none;
}
#sidebar input,
#sidebar button {
  margin: 16px 0px 0px 0px;
}
/** ELEMENT SPECIFIC **/
#sidebar {
  /** HOVER **/

}
#sidebar h3.earth {
  border-color: #1a5;
}
#sidebar h3.mind {
  border-color: #18c;
}
#sidebar h3.voice {
  border-color: #e42;
}
#sidebar h3.self {
  border-color: #f90;
}
#sidebar h3.core:hover {
  color: #ccc;
}
#sidebar h3.earth:hover {
  color: #1a5;
}
#sidebar h3.mind:hover {
  color: #18c;
}
#sidebar h3.voice:hover {
  color: #e42;
}
#sidebar h3.self:hover {
  color: #f90;
}
/** STREAM **/
.stream input#term,
#widgets input#term {
  width: 40%;
}
.stream button#search,
#widgets button#search {
  height: 49px;
  margin: 0px;
  width: 15%;
}
.stream a#add,
#widgets a#add {
  width: 20%;
}
.stream a#advanced img,
#widgets a#advanced img {
  margin: -2px 0px 0px 5px;
}
.stream #stream,
#widgets #stream {
  padding: 4px;
  margin: 0px;
  /*background-color: #fafafa;
    border: solid 1px #ccc; 
    .box_shadow;*/

}
.stream #stream p,
#widgets #stream p {
  margin: 0px;
}
.stream #stream h3,
#widgets #stream h3 {
  text-align: center;
}
.stream #create,
#widgets #create {
  width: 300px;
  float: right;
  margin-top: -20px;
  width: 400px;
}
.stream #create select,
#widgets #create select {
  width: 200px;
  float: right;
  margin-top: 4px;
  height: 40px;
}
.stream #create .button,
#widgets #create .button {
  float: right;
}
.stream #filter,
#widgets #filter {
  width: 98%;
  float: left;
  background-color: #fafafa;
  border: solid 1px #eee;
  padding: 1%;
  margin-bottom: 40px;
}
.stream #filter h3,
#widgets #filter h3 {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-style: italic;
}
.stream #filter ul#mode,
#widgets #filter ul#mode {
  padding: 0px;
  margin: 0px;
  width: 90%;
}
.stream #filter div.types,
#widgets #filter div.types {
  width: 90%;
}
.stream #filter div.types div,
#widgets #filter div.types div {
  float: left;
  width: 24%;
}
.stream #filter div.types div span,
#widgets #filter div.types div span {
  font-size: 1.1em;
  border-bottom: solid 1px #eee;
  display: block;
}
.stream #filter div.types div label,
#widgets #filter div.types div label {
  font-size: 0.8em;
  font-weight: bold;
  display: block;
  margin: 0px;
  width: 40px;
}
.stream #filter div.types div input,
#widgets #filter div.types div input {
  width: 20px;
  display: block;
  margin: 0px;
  padding: 0px;
}
.stream #paging,
#widgets #paging {
  margin-top: 20px;
  font-size: 1.3em;
  font-style: italic;
  color: #444;
}
.stream #paging a#prev,
#widgets #paging a#prev,
.stream #paging a#next,
#widgets #paging a#next {
  display: block;
  width: 25%;
  float: left;
  font-size: 1.3em;
  color: #4f9db6;
}
.stream #paging a#prev,
#widgets #paging a#prev {
  width: 25%;
}
.stream #paging a#prev:hover,
#widgets #paging a#prev:hover,
.stream #paging a#next:hover,
#widgets #paging a#next:hover {
  color: #555;
}
.stream #paging a#next,
#widgets #paging a#next {
  text-align: right;
}
.stream #paging div.totals,
#widgets #paging div.totals {
  width: 20%;
}
.stream #paging div.viewing,
#widgets #paging div.viewing {
  text-align: right;
  width: 30%;
}
.stream #paging div,
#widgets #paging div {
  float: left;
}
.stream #sort_by,
#widgets #sort_by {
  float: right;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  color: #777;
  font-size: 0.9em;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}
.stream select#sort,
#widgets select#sort,
.stream select#direction,
#widgets select#direction {
  width: 120px;
  font-size: 0.9em;
}
/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}
table h2 {
  text-align: left;
  text-indent: 10px;
}
table h3 {
  color: #222;
}
table a.title {
  font-size: 0.9em;
  cursor: pointer;
}
table thead tr {
  border: none;
}
table tfoot tr {
  border: none;
}
table tr.even {
  background-color: #f5f5f5;
}
table th {
  text-align: center;
  color: #222;
  padding: 10px;
  color: #555;
  font-size: 1em;
}
table td {
  padding: 10px;
  font-size: 1em;
  text-align: right;
  color: #999;
}
table td label {
  display: block;
  float: right;
}
/** STATS **/
table.view {
  background-color: #f7f7f7;
  border: solid 4px #aaa;
}
table.view tr td {
  color: #333;
  border-bottom: solid 1px #ddd;
}
table.view tr td:nth-of-type(1) {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  color: #333;
}
table.view tr td:nth-of-type(2) {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}
table.view tr td:nth-of-type(3) {
  font-size: 0.9em;
  font-style: italic;
  color: #777;
}
/** CHECKLIST **/
table#checklist tr {
  border-bottom: solid 1px #ddd;
}
/*
@import 'sub/bootstrap-responsive.css';
@import 'sub/bootstrap-min.css';
@import 'sub/reset.css';
*/
/** COLORS **/
/** BODY **/
body {
  background-color: #eee;
  background-image: url('/assets/layout/texture-light.png');
  margin: 0px;
  padding: 0px;
  color: #333;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 100%;
  line-height: 25px;
  letter-spacing: 0px;
}
div#spacer {
  height: 0px;
}
/** HEADINGS **/
h1 {
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 10px 0px;
  letter-spacing: 1px;
  font-size: 1.8em;
  font-weight: normal;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #444;
  text-transform: uppercase;
}
h1 a {
  text-decoration: none;
  text-shadow: 1px 1px #fff;
  color: #555;
}
h2 {
  margin: 5px 0px 5px 0px;
  padding: 4px 0px 4px 0px;
  text-shadow: 1px 1px #fff;
  color: #444;
}
h2 a {
  text-decoration: none;
}
/* LINKS */
a {
  color: #333;
}
a img {
  border: none;
}
a:hover {
  color: #1488c1;
}
a.title {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  width: 100%;
  display: block;
  cursor: pointer;
  color: #18b;
}
a.title:hover {
  color: #f90;
}
a.edit {
  font-size: 1em;
  color: #18b;
}
a.edit:hover {
  font-size: 1em;
  color: #f90;
}
/** IMG **/
img {
  margin: 4px;
  border: solid 1px #ccc;
  padding: 2px;
}
.icon {
  border: none;
  float: left;
}
/** CLEAR **/
div.clear {
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
}
