div#alerts {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
div#alerts .alert {
  height: 20px;
  padding: 10px;
  margin: 5px;
  border: solid 1px;
}
div#alerts .close {
  font-weight: bold;
  text-decoration: none;
}
div#alerts .close:hover {
  color: #fff;
}
div#alerts .complete {
  border-color: #093;
  background-color: #CFC;
}
div#alerts .message {
  border-color: #FF3;
  background-color: #FFC;
}
div#alerts .error {
  border-color: #F00;
  background-color: #Faa;
}
/** LOGIN **/
div#login {
  width: 485px;
  float: right;
  margin-top: 16px;
  margin-left: 10px;
  color: #333;
  line-height: 8px;
}
div#login a.button {
  width: 60px;
  height: 21px;
  margin-top: 0px;
  padding-top: 14px;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
}
div#login a:hover {
  color: #ff9900;
}
div#login input {
  height: 25px;
  width: 160px;
  font-size: 15px;
  float: left;
  margin-right: 4px;
}
div#login #auth.button {
  border-top: groove 2px #eeeeee;
  border-bottom: ridge 2px #eeeeee;
  border-left: groove 2px #eeeeee;
  border-right: ridge 2px #eeeeee;
  text-transform: none;
}
div#login #welcome {
  text-align: right;
  color: #333;
  float: right;
  margin: -6px 4px 0px 0px;
  font-size: 13px;
  font-style: italic;
}
div#login #forgot {
  font-size: 11px;
  line-height: 13px;
  text-transform: none;
  color: #3ac;
}
div#login img {
  margin: -9px 10px 0px 0px;
  float: right;
}
div#login ul {
  float: right;
  text-align: right;
  padding: 0px;
  margin: 10px 4px 0px 0px;
}
div#login ul li {
  margin: 0px 0px 6px 0px;
  padding: 0px;
  list-style: none;
}
div#login ul li a {
  margin: 0px 0px 3px 0px;
  padding: 0px;
  font-size: 11px;
  color: #6ac;
  font-style: normal;
}
div#login #forgot:hover {
  color: #666;
}
/** ACCOUNT **/
span#account a {
  color: #ccc;
}
span#account a:hover {
  color: #f90;
}
/** REGISTER **/
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position: absolute;
  z-index: 9000;
  background-color: #000;
  display: none;
}
.window {
  position: fixed;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
}
#register {
  background-color: #fff;
  margin: 0px;
  padding: 10px;
}
#register input {
  margin-bottom: 20px;
}
#register label {
  width: 200px;
}
#titlebar a {
  color: #fff;
  text-decoration: none;
}
#titlebar a:hover {
  color: #f90;
}
/** BUTTONS **/
button.button,
a.button,
input.button,
input#searchsubmit {
  display: block;
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 14px !important;
  color: #eee !important;
  width: 160px;
  height: 40px;
  text-align: center;
  /**text-shadow: 0px -1px 0px rgba(127,127,127,0.9), 0px 1px 0px rgba(000,000,000,0.9);**/

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: -moz-linear-gradient(top, #000000 0%, #333333);
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#333333));
  border: none;
  text-decoration: none;
  margin: 4px;
  float: left;
  border-top: ridge 2px #444444;
  border-bottom: groove 2px #444444;
  border-left: ridge 2px #444444;
  border-right: groove 2px #444444;
}
a.button {
  padding-top: 8px;
  height: 32px;
}
button.button:hover,
a.button:hover,
input.button:hover,
input#searchsubmit:hover {
  cursor: pointer;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, #ff6600 0%, #ff9900);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6600), to(#ff9900));
  font-weight: normal !important;
  /*-moz-box-shadow: 0px 0px 4px rgba(000,000,000,0.6), inset 0px 1px 0px rgba(255,255,255,0.3);
-webkit-box-shadow: 0px 0px 4px rgba(000,000,000,0.6), inset 0px 1px 0px rgba(255,255,255,0.3);*/

  /*-moz-box-shadow: 0px 2px 4px rgba(000,000,000,0.6);
-webkit-box-shadow: 0px 2px 4px rgba(000,000,000,0.6);*/

}
/** GREEN **/
button.green.button,
a.green.button,
input.green.button,
input#searchsubmit.green {
  background: -moz-linear-gradient(top, #00bb00 0%, #009900);
  background: -webkit-gradient(linear, left top, left bottom, from(#00bb00), to(#009900));
}
button.green.button:hover,
a.green.button:hover,
input.green.button:hover,
input#searchsubmit.green:hover {
  background: -moz-linear-gradient(top, #009900 0%, #00bb00);
  background: -webkit-gradient(linear, left top, left bottom, from(#009900), to(#00bb00));
}
/** BLUE **/
button.blue.button,
a.blue.button,
input.blue.button,
input#searchsubmit.blue {
  background: -moz-linear-gradient(top, #0088ff 0%, #0055cc);
  background: -webkit-gradient(linear, left top, left bottom, from(#0088ff), to(#0055cc));
}
button.blue.button:hover,
a.blue.button:hover,
input.blue.button:hover,
input#searchsubmit.blue:hover {
  background: -moz-linear-gradient(top, #0055cc 0%, #0088ff);
  background: -webkit-gradient(linear, left top, left bottom, from(#0055cc), to(#0088ff));
}
/** RED **/
button.red.button,
a.red.button,
input.red.button,
input#searchsubmit.red {
  background: -moz-linear-gradient(top, #dd0000 0%, #aa0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#dd0000), to(#aa0000));
}
button.red.button:hover,
a.red.button:hover,
input.red.button:hover,
input#searchsubmit.red:hover {
  background: -moz-linear-gradient(top, #aa0000 0%, #dd0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#aa0000), to(#dd0000));
}
/** HOME **/
a.button-home {
  display: block;
  width: 200px;
  height: 200px;
  cursor: pointer;
  float: left;
}
/* Original
a.button-home#button-earth { background-image: url('/assets/elements/white/earth.png'); }
a.button-home#button-mind { background-image: url('/assets/elements/white/mind.png'); }
a.button-home#button-voice { background-image: url('/assets/elements/white/voice.png'); }
a.button-home#button-self { background-image: url('/assets/elements/white/self.png'); }
a.button-home#button-earth:hover { background-image: url('/assets/elements/black/earth.png'); }
a.button-home#button-mind:hover { background-image: url('/assets/elements/black/mind.png'); }
a.button-home#button-voice:hover { background-image: url('/assets/elements/black/voice.png'); }
a.button-home#button-self:hover { background-image: url('/assets/elements/black/self.png'); }
*/
a.button-home#button-earth {
  background-image: url('/assets/elements/color/earth.png');
}
a.button-home#button-mind {
  background-image: url('/assets/elements/color/mind.png');
}
a.button-home#button-voice {
  background-image: url('/assets/elements/color/voice.png');
}
a.button-home#button-self {
  background-image: url('/assets/elements/color/self.png');
}
/*
a.button-home#button-earth:hover { background-image: url('/assets/elements/white/earth.png'); }
a.button-home#button-mind:hover { background-image: url('/assets/elements/white/mind.png'); }
a.button-home#button-voice:hover { background-image: url('/assets/elements/white/voice.png'); }
a.button-home#button-self:hover { background-image: url('/assets/elements/white/self.png'); }*/
/** GOOGLE **/
button.social {
  background-color: transparent;
  border: none;
  width: 325px;
  height: 50px;
  cursor: pointer;
}
#google {
  background-image: url('/assets/buttons/google/login/normal.png');
}
#google:hover {
  background-image: url('/assets/buttons/google/login/over.png');
}
#google.logout {
  background-image: url('/assets/buttons/google/logout/normal.png');
}
#google.logout:hover {
  background-image: url('/assets/buttons/google/logout/over.png');
}
#facebook {
  background-image: url('/assets/buttons/facebook/login/normal.png');
}
#facebook:hover {
  background-image: url('/assets/buttons/facebook/login/over.png');
}
#facebook.logout {
  background-image: url('/assets/buttons/facebook/logout/normal.png');
}
#facebook.logout:hover {
  background-image: url('/assets/buttons/facebook/logout/over.png');
}
#linkedin {
  background-image: url('/assets/buttons/linkedin/login/normal.png');
}
#linkedin:hover {
  background-image: url('/assets/buttons/linkedin/login/over.png');
}
#linkedin.logout {
  background-image: url('/assets/buttons/linkedin/logout/normal.png');
}
#linkedin.logout:hover {
  background-image: url('/assets/buttons/linkedin/logout/over.png');
}
/** CUSTOM **/
/*!
 * FullCalendar v1.6.2 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */
.fc {
  direction: ltr;
  text-align: left;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}
html .fc,
.fc table {
  font-size: 1em;
}
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}
/* Header
------------------------------------------------------------------------*/
.fc-header td {
  white-space: nowrap;
}
.fc-header-left {
  width: 25%;
  text-align: left;
}
.fc-header-center {
  text-align: center;
}
.fc-header-right {
  width: 25%;
  text-align: right;
}
.fc-header-title {
  display: inline-block;
  vertical-align: top;
}
.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
}
.fc .fc-header-space {
  padding-left: 10px;
}
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
}
/* buttons edges butting together */
.fc-header .fc-button {
  margin-right: -1px;
}
.fc-header .fc-corner-right,
.fc-header .ui-corner-right {
  /* theme */

  margin-right: 0;
  /* back to normal */

}
/* button layering (for border precedence) */
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
}
.fc-header .fc-state-down {
  z-index: 3;
}
.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
}
/* Content
------------------------------------------------------------------------*/
.fc-content {
  clear: both;
}
.fc-view {
  width: 100%;
  /* needed for view switching (when view is absolute) */

  overflow: hidden;
}
/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,
.fc-widget-content {
  /* <td>, usually */

  border: 1px solid #ddd;
}
.fc-state-highlight {
  /* <td> today cell */
  /* TODO: add .fc-today to <th> */

  background: #fcf8e3;
}
.fc-cell-overlay {
  /* semi-transparent rectangle while dragging */

  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */

}
/* Buttons
------------------------------------------------------------------------*/
.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;
  line-height: 1.9em;
  white-space: nowrap;
  cursor: pointer;
}
.fc-state-default {
  /* non-theme */

  border: 1px solid;
}
.fc-state-default.fc-corner-left {
  /* non-theme */

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fc-state-default.fc-corner-right {
  /* non-theme */

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*
	Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
	and we'll try to make them look good cross-browser.
*/
.fc-text-arrow {
  margin: 0 .1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline;
  /* for IE7 */

}
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  /* for &lsaquo; &rsaquo; */

  font-weight: bold;
}
/* icon (for jquery ui) */
.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
}
.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
}
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/
.fc-state-default {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #e6e6e6;
}
.fc-state-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.fc-state-down,
.fc-state-active {
  background-color: #cccccc;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
/* Global Event Styles
------------------------------------------------------------------------*/
.fc-event {
  border: 1px solid #3a87ad;
  /* default BORDER color */

  background-color: #3a87ad;
  /* default BACKGROUND color */

  color: #fff;
  /* default TEXT color */

  font-size: .85em;
  cursor: default;
}
a.fc-event {
  text-decoration: none;
}
a.fc-event,
.fc-event-draggable {
  cursor: pointer;
}
.fc-rtl .fc-event {
  text-align: right;
}
.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
}
.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden;
  /* hacky spaces (IE6/7) */

  font-size: 300%;
  line-height: 50%;
  /* */

}
/* Horizontal Events
------------------------------------------------------------------------*/
.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
}
.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* resizable */
.fc-event-hori .ui-resizable-e {
  top: 0           !important;
  /* importants override pre jquery ui 1.7 styles */

  right: -3px !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: e-resize;
}
.fc-event-hori .ui-resizable-w {
  top: 0           !important;
  left: -3px !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: w-resize;
}
.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px;
  /* IE6 had 0 height */

}
/* Reusable Separate-border Table
------------------------------------------------------------*/
table.fc-border-separate {
  border-collapse: separate;
}
.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
}
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
}
/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid th {
  text-align: center;
}
.fc .fc-week-number {
  width: 22px;
  text-align: center;
}
.fc .fc-week-number div {
  padding: 0 2px;
}
.fc-grid .fc-day-number {
  float: right;
  padding: 0 2px;
}
.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* for IE */

  /* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */

}
.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px;
  /* distance between events and day edges */

}
/* event styles */
.fc-grid .fc-event-time {
  font-weight: bold;
}
/* right-to-left */
.fc-rtl .fc-grid .fc-day-number {
  float: left;
}
.fc-rtl .fc-grid .fc-event-time {
  float: right;
}
/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/
.fc-agenda table {
  border-collapse: separate;
}
.fc-agenda-days th {
  text-align: center;
}
.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
}
.fc-agenda .fc-week-number {
  font-weight: bold;
}
.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
}
/* make axis border take precedence */
.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
}
.fc-agenda-days .fc-col0 {
  border-left-width: 0;
}
/* all-day area */
.fc-agenda-allday th {
  border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content {
  min-height: 34px;
  /* TODO: doesnt work well in quirksmode */

  _height: 34px;
}
/* divider (between all-day and slots) */
.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
  background: #eee;
}
/* slot rows */
.fc-agenda-slots th {
  border-width: 1px 1px 0;
}
.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
}
.fc-agenda-slots td div {
  height: 20px;
}
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: dotted;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid;
  /* doesn't work with background in IE6/7 */

}
/* Vertical Events
------------------------------------------------------------------------*/
.fc-event-vert {
  border-width: 0 1px;
}
.fc-event-vert.fc-event-start {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
}
.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
}
.fc-event-vert .fc-event-bg {
  /* makes the event lighter w/ a semi-transparent overlay  */

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
}
.fc .ui-draggable-dragging .fc-event-bg,
.fc-select-helper .fc-event-bg {
  display: none\9;
  /* for IE6/7/8. nested opacity filters while dragging don't work */

}
/* resizable */
.fc-event-vert .ui-resizable-s {
  bottom: 0        !important;
  /* importants override pre jquery ui 1.7 styles */

  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}
.fc-agenda .ui-resizable-resizing {
  /* TODO: better selector */

  _overflow: hidden;
}
/*!
 * FullCalendar v1.6.2 Print Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */
/*
 * Include this stylesheet on your page to get a more printer-friendly calendar.
 * When including this stylesheet, use the media='print' attribute of the <link> tag.
 * Make sure to include this stylesheet IN ADDITION to the regular fullcalendar.css.
 */
/* Events
-----------------------------------------------------*/
.fc-event {
  background: #fff !important;
  color: #000 !important;
}
/* for vertical events */
.fc-event-bg {
  display: none !important;
}
.fc-event .ui-resizable-handle {
  display: none !important;
}
#main {
  width: 100%;
  overflow: hidden;
}
#content.homepage {
  background: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px #ffffff;
}
/** FORM/SINGLE **/
div#footing {
  background-color: #333;
  padding: 0px;
  border: solid 1px #eee;
  width: 100%;
  margin: 0px;
}
/** CONTENT **/
#content {
  width: 860px;
  padding: 20px;
  margin: 20px;
  font-size: 16px;
  float: left;
  background-color: #fff;
  box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  height: 100%;
  min-height: 600px;
  /*background-color: #ffffff;
  border: solid 1px #ccc;
  .box-shadow;*/
}
#content p.summary {
  font-size: 20px;
  font-style: italic;
  margin-top: 40px;
}
#content h4 {
  text-align: left;
  padding: 0px;
  margin: 10px 0px 0px 0px;
}
/** WIDGETS **/
#widgets .left {
  width: 500px;
  float: left;
}
#widgets .right {
  width: 240px;
  float: right;
}
div#gmap {
  height: 400px;
  border: solid 4px #777;
}
#footer {
  clear: both;
  float: right;
  width: 100%;
  background-color: #393939;
  margin: 0px;
  padding-top: 10px;
  color: #eee;
  height: 440px;
  border-top: groove 2px #333;
  background-image: url('/assets/layout/footer.png');
  background-position: right top;
  background-repeat: no-repeat;
}
#footer a {
  color: #ccc;
  text-decoration: none;
}
#footer .inner {
  width: 1200px;
  margin: 20px 0px 20px 140px;
}
#footer .mid {
  margin-bottom: 35px;
  border-top: dashed 2px #444;
  border-bottom: dashed 2px #444;
  height: 240px;
}
#footer .bottom {
  background-color: #313131;
  color: #eee;
  width: 100%;
  text-align: center;
  font-size: 11px;
  text-decoration: none;
  float: none;
  clear: both;
  line-height: 20px;
  padding: 20px 0px 10px 0px;
}
#footer .button {
  border-top: ridge 2px #555555;
  border-bottom: groove 2px #555555;
  border-left: ridge 2px #555555;
  border-right: groove 2px #555555;
}
#footer div {
  float: left;
}
#footer div h3 {
  margin: 0px;
  padding: 0px;
}
#footer div img {
  border: none;
  float: left;
  height: 40px;
}
#footer div input {
  height: 24px;
  width: 120px;
  margin-top: 7px;
}
#footer #signup {
  width: 300px;
}
#footer #signorg {
  width: 400px;
}
#footer #signup h3,
#footer #signorg h3,
#footer #signin h3,
#footer #contact h3 {
  font-family: "century gothic";
  margin-top: 6px;
  font-size: 13px;
  color: #fff;
}
#footer #signup div,
#footer #signorg div,
#footer #signin div,
#footer #contact div {
  margin-top: -8px;
  color: #bbb;
}
#footer #signin {
  margin-top: 80px;
}
#footer #signin h3 {
  width: 200px;
}
#footer #contact {
  width: 400px;
}
#footer #contact p {
  font-family: "century gothic";
}
#footer .login {
  width: 60px;
  float: right;
}
/** ELEMENTS **/
fieldset {
  border: none;
}
input {
  padding: 4px;
  height: 36px;
  width: 350px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  font-size: 18px;
  color: #333;
}
input[type=file] {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 11px;
}
input[type=checkbox] {
  width: inherit;
  height: inherit;
}
label {
  font-size: 22px;
  color: #bbb;
  font-style: italic;
  margin: 0px 40px 20px 0px;
}
select {
  height: 36px;
  padding: 4px;
  width: 350px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  font-size: 18px;
  color: #333;
}
textarea {
  padding: 4px;
  height: 360px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  font-size: 14px;
  color: #333;
}
.checkbox {
  width: 55px;
  height: 20px;
  background-image: url('/assets/icons/general/checkbox/small/off.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
.checkbox.on {
  background-image: url('/assets/icons/general/checkbox/small/on.png');
}
/** BACKBONE FORMS **/
#fields {
  width: 440px;
  float: left;
}
#fields fieldset ul li label {
  color: #333;
  font-size: 14px;
}
#fields fieldset ul li .bbf-editor input {
  height: 30px;
  width: 390px;
}
/** SPECIAL **/
#description {
  width: 410px;
  text-align: left;
  float: left;
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
}
.form {
  margin: auto;
}
.form textarea {
  width: 820px;
}
header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
  border-bottom: solid 1px #bbb;
  background-color: #fff;
  /*background-image: url('images/repeat-header.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #333;
  position: fixed; 
  top: 0;
  left: 0;*/

}
header #inner {
  margin: 0px 0px 0px 10px;
  padding: 0px;
  width: 100%;
  /*background-image: url('../phourus/images/header.png');*/

}
header #inner #brand {
  float: left;
  width: 200px;
}
header #inner #brand img {
  border: none;
}
header #inner #brand #slogan {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 4px;
  display: none;
}
/** HOME **/
.home h1 {
  padding-top: 40px;
  font-size: 54px;
  font-family: "century gothic";
  font-weight: normal;
  text-transform: uppercase;
  border: none;
  text-align: center;
  color: #4b4b4d;
  margin-bottom: 20px;
}
.home h2 {
  text-shadow: none;
  font-weight: normal;
  color: #fafafa;
  font-size: 36px;
}
.home h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  color: #333;
  font-family: "century gothic";
}
.home img {
  margin: 40px auto;
  display: block;
  border: none;
}
.home #signup h3,
.home #signorg h3 {
  font-size: 24px;
  color: #fafafa;
}
.home #signup div,
.home #signorg div {
  height: 40px;
  text-transform: uppercase;
  font-size: 15px;
  color: #222;
}
.home p {
  font-size: 24px;
  color: #444;
  font-family: "perpetua";
  line-height: 30px;
  font-style: italic;
  margin: 20px 60px 0px 60px;
  padding: 20px 10px 20px 10px;
  border-top: dashed 1px #ccc;
  border-bottom: dashed 1px #ccc;
  width: 960px;
  margin: auto;
}
.home div.red,
.home div.blue,
.home div.green,
.home div.gold {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 200px;
}
.home div.red p,
.home div.blue p,
.home div.green p,
.home div.gold p {
  color: #ffffff;
  border-top: none;
  border-bottom: none;
  border-left: solid 1px #eee;
  border-right: solid 1px #eee;
  letter-spacing: 2px;
  text-align: center;
  width: 600px;
  font-size: 20px;
  margin-top: 20px;
  font-weight: normal;
  font-style: italic;
  font-family: "perpetua";
}
.home div.red {
  border-top: solid 8px #cc3300;
  border-bottom: solid 8px #cc3300;
  background-color: #d65e35;
}
.home div.blue {
  border-top: solid 8px #4f9db6;
  border-bottom: solid 8px #4f9db6;
  background-color: #72afc3;
}
.home div.green {
  border-top: solid 8px #98b849;
  border-bottom: solid 8px #98b849;
  background-color: #a7c266;
}
.home div.gold {
  border-top: solid 8px #df9d1a;
  border-bottom: solid 8px #df9d1a;
  background-color: #e6b657;
}
.home h4.red {
  color: #cc3300;
}
.home h4.blue {
  color: #4f9db6;
}
.home h4.green {
  color: #98b849;
}
.home h4.gold {
  color: #df9d1a;
}
.home #what,
.home #why {
  width: 400px;
  float: left;
  text-align: center;
  margin-right: 40px;
}
.home #what p,
.home #why p {
  width: inherit;
}
.home .term {
  font-weight: bold;
  font-style: normal;
  color: #333;
  letter-spacing: 2px;
}
.home .elements {
  width: 860px;
  margin: 40px auto;
}
.home .elements a {
  margin-right: 10px;
}
.home .element {
  width: 860px;
  margin: auto;
  background-color: #f2f2f2;
  border: solid 10px #fff;
  display: none;
}
.home .element a {
  margin-right: 20px;
}
.home .element h3 {
  padding: 30px 0px 0px 0px;
  font-size: 40px;
  margin: 20px 0px 15px 0px;
  font-style: italic;
  color: #fafafa;
  font-size: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.home .element span {
  font-size: 20px;
}
.home .element .info {
  width: 760px;
  float: left;
  margin: 0px 0px 20px 20px;
  color: #777;
}
.home .element .info .label {
  font-size: 14px;
  text-transform: uppercase;
  color: #555;
}
.home .element .info .description {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-style: normal;
}
.home .feature img.icon {
  margin: 20px 0px 0px 10px;
}
.home .feature .label {
  padding-top: 10px;
  font-size: 24px;
}
.home .feature .description {
  clear: left;
  text-align: justify;
  margin: 4px;
  font-size: 14px;
  font-style: italic;
  padding: 4px;
}
.home .org {
  margin: 10px;
  width: 960px;
  margin: auto;
  padding: 40px 0px 10px 0px;
  border-bottom: dashed 1px #ccc;
}
.home .org h3,
.home .org h4 {
  margin: 0px;
}
.home .org p {
  font-style: italic;
  height: 130px;
  border: none;
  padding: 0px;
}
.home .org .term {
  color: #111;
}
.home .org img {
  border: none;
}
.home .org.l img {
  float: left;
  margin: 0px 20px 0px 0px;
}
.home .org.r {
  text-align: right;
}
.home .org.r h4 {
  text-align: right !important;
}
.home .org.r img {
  margin: 0px 0px 0px 20px;
  float: right;
}
.home #signup {
  float: left;
  width: 350px;
}
.home #signorg {
  float: left;
  width: 500px;
  padding-left: 10px;
}
.home .fill {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 1px;
}
.home .fill.blue {
  height: 960px;
  top: 380px;
  background-color: #81cee7;
}
.home .fill.green {
  height: 920px;
  top: 2120px;
  background-color: #d6edd7;
  border-top: solid 2px #85a086;
  border-bottom: solid 2px #85a086;
}
.home .fill.red {
  height: 560px;
  top: 3500px;
  background-color: #f90;
}
.item {
  border-left: solid 10px #333;
}
.item:hover {
  border-left: solid 10px #6ac;
}
.heading:hover {
  border-bottom: solid 10px #6ac;
}
.heading {
  border-bottom: solid 10px #333;
}
.item,
.heading {
  margin: 0px 0px 20px 0px;
  padding: 10px 10px 0px 10px;
  background-color: #f3f3f3;
  /** BOX **/

  /** PIC **/

  /** TITLE **/

  /** POST TYPE **/

  /** USERNAME **/

  /** CREATED **/

  /** EXCERPT **/

  /** INFLUENCE **/

  /** COMMENT **/

  /** LISTS **/

  /** EDIT BUTTON **/

  /** MORE **/

}
.item .box,
.heading .box {
  float: left;
  width: 220px;
}
.item .pic,
.heading .pic {
  float: left;
  margin: 10px 10px 10px 0px;
  width: 120px;
  text-align: center;
}
.item .pic img,
.heading .pic img {
  padding: 2px;
  border: solid 1px #ccc;
}
.item .title,
.heading .title {
  color: #004b91;
  text-decoration: none;
  text-align: left;
}
.item .type,
.heading .type {
  float: left;
  width: 120px;
  margin: 0px;
  padding: 0px;
  display: block;
  padding-top: 12px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.item .type img.icon,
.heading .type img.icon {
  float: left;
}
.item .type span.label,
.heading .type span.label {
  display: block;
  margin-top: 2px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.item a.username,
.heading a.username {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #48a;
}
.item a.username:hover,
.heading a.username:hover {
  color: #f90;
}
.item .created,
.heading .created {
  font-size: 12px;
  font-style: italic;
}
.item .excerpt,
.heading .excerpt {
  font-size: 14px;
}
.item .influence,
.heading .influence {
  float: right;
  width: 200px;
  text-align: center;
  font-size: 18px;
}
.item .comment,
.heading .comment {
  padding-top: 12px;
  float: left;
  width: 600px;
}
.item .comment span.date,
.heading .comment span.date {
  font-weight: bold;
  font-style: italic;
}
.item .comment textarea,
.heading .comment textarea {
  width: 95%;
  height: 100px;
  display: none;
}
.item .actions,
.heading .actions {
  width: 100px;
  float: right;
}
.item ul,
.heading ul {
  padding: 0px;
  float: left;
}
.item ul li,
.heading ul li {
  list-style: none;
}
.item ul li a,
.heading ul li a {
  text-decoration: none;
}
.item ul.meta,
.heading ul.meta {
  width: 500px;
  font-size: 13px;
  color: #333;
  display: block;
  height: 20px;
  padding: 10px 0px 10px 0px;
}
.item ul.meta li,
.heading ul.meta li {
  display: inline;
  margin-right: 20px;
}
.item .button.edit,
.heading .button.edit,
.item .button.delete,
.heading .button.delete,
.item .button.cancel,
.heading .button.cancel,
.item .button.confirm,
.heading .button.confirm,
.item .button.save,
.heading .button.save {
  width: 80px;
}
.item .button,
.heading .button {
  border-top: groove 2px #eeeeee;
  border-bottom: ridge 2px #eeeeee;
  border-left: groove 2px #eeeeee;
  border-right: ridge 2px #eeeeee;
}
.item .more,
.heading .more {
  font-size: 16px;
  color: #18b;
  text-decoration: underline;
  cursor: pointer;
}
.item .more:hover,
.heading .more:hover {
  color: #f90;
}
/** LISTS **/
fieldset ul {
  margin: 0px;
  padding: 0px;
}
fieldset ul li {
  list-style: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  margin: 0px;
  padding: 0px;
}
ul.tabs li {
  float: left;
  list-style: none;
  background-color: #f0f0f0;
  padding: 2px;
  margin-right: 2px;
}
ul.tabs li a {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  width: 100px;
  font-size: 11px;
  text-transform: uppercase;
}
ul.tabs li a:hover,
ul.tabs li a.selected:hover {
  color: #f90;
}
ul.tabs li a.selected {
  border-bottom: solid 6px #f90;
  color: #333;
}
ul.tabs li a.disabled {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}
/** DEFINITION LISTS **/
dl {
  display: block;
  width: 250px;
  /*float: left;*/

}
dl dt {
  float: left;
  width: 100px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  overflow: hidden;
}
dl dd {
  overflow: hidden;
  word-wrap: break-word;
}
/* NAV */
nav {
  clear: both;
  margin: 0px;
  width: 100%;
  height: 30px;
  background-color: #f7f7f7;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ddd;
}
nav ul {
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
  width: 600px;
  float: right;
}
nav ul li {
  list-style: none;
  padding: 0px;
  cursor: pointer;
  float: left;
}
nav ul li a {
  padding: 4px 0px 0px 0px;
  color: #777;
  font-size: 14px;
  letter-spacing: 2px;
  letter-spacing: 1px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 0px 0px 0px 0px;
  height: 26px;
  width: 120px;
  text-align: center;
  font-family: "century gothic";
}
nav ul li a:hover {
  font-weight: bold;
  color: #444;
}
nav ul li a.companies:hover {
  background-color: #d6edd7;
}
nav ul li a.govs:hover {
  background-color: #f7e1e1;
}
nav ul li a.schools:hover {
  background-color: #daeef8;
}
nav ul li a.groups:hover {
  background-color: #ffeeda;
}
nav ul li a:hover {
  background-color: #eee;
}
nav ul li ul {
  display: none;
  float: left;
  width: 160px;
}
nav ul li ul li {
  display: list-item;
  list-style: none;
  float: none;
  height: 20px;
}
nav ul li ul li a {
  font-size: 10px;
  text-align: left;
}
nav ul li:hover ul {
  display: block;
}
/** POST **/
.post h1 {
  font-size: 32px;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}
.post #body {
  margin: 20px;
  line-height: 28px;
  text-align: left;
  padding: 10px 5px 20px 5px;
  margin: 0px;
}
.create a {
  display: block;
  float: left;
}
.create textarea {
  width: 700px;
  height: 100px;
  float: right;
}
.create button {
  float: right;
}
.comment .button {
  border-top: groove 2px #eeeeee;
  border-bottom: ridge 2px #eeeeee;
  border-left: groove 2px #eeeeee;
  border-right: ridge 2px #eeeeee;
  font-size: 11px !important;
}
/* SIDEBAR */
#sidebar {
  width: 210px;
  float: left;
  text-align: right;
  border-right: solid 2px #000;
  background-color: #2a2a2a;
  box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  height: 100%;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  color: #eee;
  font-size: 16px;
  /*border-right: solid 1px #ccc;*/

}
#sidebar p {
  font-family: "Perpetua";
  font-size: 20px;
  font-style: italic;
}
#sidebar h3 {
  clear: both;
  font-size: 13px;
  letter-spacing: 2px;
  background-color: #222;
  background-image: url('/assets/layout/texture.png');
  border-bottom: groove 2px #333;
  margin: 0px;
  padding: 10px 10px 10px 0px;
  color: #777;
}
#sidebar h3 a {
  color: #ddd;
}
#sidebar h3.collapsible {
  cursor: pointer;
}
#sidebar a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #eee;
  text-decoration: none;
  font-weight: normal;
}
#sidebar a:hover {
  color: #f90;
  font-weight: bold;
  cursor: pointer;
}
#sidebar a.action {
  color: #18b;
  font-size: 12px;
  text-decoration: none;
}
#sidebar a.action:hover {
  color: #f90;
}
#sidebar a.link {
  width: 100px;
}
#sidebar li {
  margin-bottom: 4px;
  list-style: none;
}
#sidebar select {
  width: 180px;
  text-transform: capitalize;
  font-family: "perpetua";
  font-size: 16px;
}
#sidebar .button {
  float: right;
}
#sidebar table {
  display: none;
}
#sidebar input,
#sidebar button {
  margin: 16px 0px 0px 0px;
}
/** ELEMENT SPECIFIC **/
#sidebar {
  /** HOVER **/

}
#sidebar h3.earth {
  border-color: #1a5;
}
#sidebar h3.mind {
  border-color: #18c;
}
#sidebar h3.voice {
  border-color: #e42;
}
#sidebar h3.self {
  border-color: #f90;
}
#sidebar h3.core:hover {
  color: #ccc;
}
#sidebar h3.earth:hover {
  color: #1a5;
}
#sidebar h3.mind:hover {
  color: #18c;
}
#sidebar h3.voice:hover {
  color: #e42;
}
#sidebar h3.self:hover {
  color: #f90;
}
/** STREAM **/
.stream #stream {
  padding: 4px;
  margin: 0px;
  /*background-color: #fafafa;
    border: solid 1px #ccc; 
    .box_shadow;*/

}
.stream #stream p {
  margin: 0px;
}
.stream #stream h3 {
  text-align: center;
}
.stream #create {
  width: 300px;
  float: right;
  margin-top: -20px;
  width: 400px;
}
.stream #create select {
  width: 200px;
  float: right;
  margin-top: 4px;
  height: 40px;
}
.stream #create .button {
  float: right;
}
.stream #filter {
  width: 860px;
  float: left;
}
.stream #filter ul#mode {
  padding: 0px;
  margin: 0px;
}
.stream #sort_by {
  float: right;
  width: 300px;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  color: #777;
  font-size: 14px;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}
.stream select#sort,
.stream select#direction {
  width: 120px;
  font-size: 14px;
}
/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}
table h2 {
  text-align: left;
  text-indent: 10px;
}
table h3 {
  color: #222;
}
table a.title {
  font-size: 14px;
  cursor: pointer;
}
table thead tr {
  border: none;
}
table tfoot tr {
  border: none;
}
table tr.even {
  background-color: #f5f5f5;
}
table th {
  text-align: center;
  color: #222;
  padding: 10px;
  color: #555;
  font-size: 16px;
}
table td {
  padding: 10px;
  font-size: 16px;
  text-align: right;
  color: #999;
}
table td label {
  display: block;
  float: right;
}
/** STATS **/
table.view {
  background-color: #f7f7f7;
  border: solid 4px #aaa;
}
table.view tr td {
  color: #333;
  border-bottom: solid 1px #ddd;
}
table.view tr td:nth-of-type(1) {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #333;
}
table.view tr td:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
table.view tr td:nth-of-type(3) {
  font-size: 14px;
  font-style: italic;
  color: #777;
}
/** CHECKLIST **/
table#checklist tr {
  border-bottom: solid 1px #ddd;
}
/*
@import 'sub/bootstrap-responsive.css';
@import 'sub/bootstrap-min.css';
@import 'sub/reset.css';
*/
/** COLORS **/
/** BODY **/
body {
  background-color: #eee;
  background-image: url('/assets/layout/texture-light.png');
  margin: 0px;
  padding: 0px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 80%;
  line-height: 25px;
  letter-spacing: 0px;
}
div#spacer {
  height: 0px;
}
/** HEADINGS **/
h1 {
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 10px 0px;
  letter-spacing: 1px;
  font-size: 34px;
  font-weight: normal;
  font-family: "Arial";
  color: #444;
  text-transform: capitalize;
}
h1 a {
  text-decoration: none;
  text-shadow: 1px 1px #fff;
  color: #555;
}
h2 {
  margin: 5px 0px 5px 0px;
  padding: 4px 0px 4px 0px;
  text-shadow: 1px 1px #fff;
  color: #444;
}
h2 a {
  text-decoration: none;
}
/* LINKS */
a {
  color: #333;
}
a img {
  border: none;
}
a:hover {
  color: #1488c1;
}
a.title {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 100%;
  display: block;
  cursor: pointer;
  color: #18b;
}
a.title:hover {
  color: #f90;
}
a.edit {
  font-size: 16px;
  color: #18b;
}
a.edit:hover {
  font-size: 16px;
  color: #f90;
}
/** IMG **/
img {
  margin: 4px;
  border: solid 1px #ccc;
  padding: 2px;
}
.icon {
  border: none;
  float: left;
}
/** CLEAR **/
div.clear {
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
}
