/* LESS */
/*
@import 'sub/bootstrap-responsive.css';
@import 'sub/bootstrap-min.css';
@import 'sub/reset.css';
*/
/* CSS Document */
/** NEW **/
div#social {
  height: 300px;
  border-top: dotted 1px #333;
}
#close {
  font-size: 22px;
  font-weight: bold;
  float: right;
  text-decoration: none;
}
#close:hover {
  color: #c00;
  cursor: pointer;
}
div.info {
  width: 800px;
  float: right;
}
div.info p {
  margin: 10px;
  padding: 4px;
  font-size: 22px;
  line-height: 40px;
  font-style: italic;
  color: #555;
  text-align: justify;
}
span#account {
  color: #ccc;
}
span#account a {
  color: #ccc;
}
span#account a:hover {
  color: #f90;
}
div#temp {
  background-image: url('/assets/logos/logo-grey.jpg');
  width: 589px;
  height: 110px;
}
div#temp:hover {
  background-image: url('/assets/logos/logo-hover.jpg');
}
div#login {
  width: 315px;
  float: left;
  margin-top: 16px;
  margin-left: 60px;
}
div#login #auth {
  width: 20px;
  height: 30px;
  float: left;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  padding-top: 3px;
}
div#login #auth:hover {
  color: #f90;
}
div#login input {
  height: 18px;
  width: 120px;
  font-size: 12px;
  float: left;
  margin-right: 4px;
}
div#login a {
  color: #fff;
}
/** NEW END **/
/** BODY **/
body {
  background-color: #ececec;
  margin: 0px;
  padding: 0px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 80%;
  line-height: 25px;
  letter-spacing: 0px;
}
/** REGISTER **/
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position: absolute;
  z-index: 9000;
  background-color: #000;
  display: none;
}
.window {
  position: fixed;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
}
#register {
  width: 475px;
  height: 275px;
  background-color: #fff;
  margin: 0px;
  padding: 10px;
}
#register #titlebar {
  background-color: #333;
  color: #fff;
  padding: 4px;
  font-size: 18px;
}
#titlebar a {
  color: #fff;
  text-decoration: none;
}
#titlebar a:hover {
  color: #f90;
}
/* ALERTS */
div#alerts {
  margin: auto;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
div#alerts .alert {
  height: 20px;
  padding: 10px;
  margin: 5px;
  border: solid 1px;
}
div#alerts .complete {
  border-color: #093;
  background-color: #CFC;
}
div#alerts .message {
  border-color: #FF3;
  background-color: #FFC;
}
div#alerts .error {
  border-color: #F00;
  background-color: #Faa;
}
/* HEADER */
header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60px;
  /*background-image: url('images/repeat-header.png');
background-repeat: repeat-x;
background-position: bottom;*/

  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
}
header #inner {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  width: 1020px;
  /*background-image: url('../phourus/images/header.png');*/

  margin: 0px auto;
}
/* NAV */
nav {
  margin: 0px 0px 0px 0px;
  width: 400px;
  float: left;
}
nav ul {
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
  width: 100%;
}
nav ul li {
  list-style: none;
  float: left;
  margin: 0px;
  height: 60px;
  cursor: pointer;
}
nav ul li a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  width: 80px;
  height: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}
nav ul li a:hover {
  color: #f90;
  background-color: #000;
}
/* CONTENT */
div#spacer {
  height: 80px;
}
#content {
  width: 980px;
  padding: 20px;
  margin: auto;
  font-size: 16px;
  color: #444;
  line-height: 180%;
  background-color: #ffffff;
  border: solid 1px #ccc;
  box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
}
/* DYNAMIC */
#dynamic {
  width: 720px;
  padding: 20px;
  margin: 0px;
  float: right;
  /*background-color: #fafafa;
border: solid 1px #ccc; 
.box_shadow;*/

}
/* FILTER */
#elements {
  height: 300px;
  width: 1020px;
  margin: auto;
}
div#filter {
  width: 760px;
  float: right;
}
div#sort_by {
  float: right;
  width: 330px;
  margin: 4px 0px 10px 0px;
  padding: 0px;
  color: #777;
  font-size: 14px;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}
select#sort,
select#direction {
  width: 120px;
  font-size: 14px;
}
div#more_wrapper {
  clear: both;
  margin: auto;
  text-align: center;
}
.single {
  margin: 0px 0px 10px 0px;
  border-bottom: solid 1px #ccc;
  padding: 0px 10px 10px 10px;
}
div#content-footer {
  background-color: #333;
  padding: 0px;
  border: solid 1px #eee;
  width: 100%;
  margin: 0px;
}
/* HOME *
#home { 
width: 100%;    
padding: 0px 20px 20px 20px;
margin: 0px;
text-align: center;
font-size: 120%;
box-shadow: 0px 0px 8px #aaa;
-moz-box-shadow: 0px 0px 8px #aaa;
-webkit-box-shadow: 0px 0px 8px #aaa;
}*/
div#home-header {
  background-color: #333;
  color: #eee;
  padding: 20px;
  width: 1040px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  left: -50px;
}
div#home-login {
  width: 1000px;
  margin: auto;
}
div#home-about {
  width: 500px;
  float: right;
}
a.home_buttons {
  display: block;
  float: left;
  width: 325px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.home-content {
  width: 400px;
  padding: 0px 20px 0px 20px;
  text-align: justify;
  font-size: 120%;
  color: #555;
  float: left;
}
div.box-home {
  width: 240px;
  float: left;
}
div.box-home h3 {
  text-align: center;
}
div.box-home h3 a {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  text-shadow: none;
  text-decoration: none;
}
div.box-home p {
  margin: 0px 0px 0px 20px;
  padding: 0px;
}
div.box-home img {
  float: left;
  margin: 10px 10px 10px 0px;
  width: 100px;
  height: 100px;
}
div.box-home ul {
  list-style: none;
  text-align: left;
}
div.box-home ul li {
  list-style: none;
  text-align: left;
  text-indent: 10px;
  padding: 0px 0px 0px 8px;
}
div.box-home ul li:hover {
  background-color: #eee;
}
div.box-home ul li a {
  display: block;
  font-size: 20px;
  text-decoration: none;
}
div.box-home img.icon {
  width: 32px;
  height: 32px;
  float: left;
}
div.box-home div.label {
  width: 120px;
  float: left;
  padding-top: 14px;
}
/* SIDEBAR */
#sidebar {
  width: 200px;
  height: 100%;
  float: left;
  /*border-right: solid 1px #ccc;*/

}
#sidebar a.link {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  width: 100px;
  text-decoration: none;
}
#sidebar a.link:hover {
  cursor: pointer;
  font-weight: bold;
  color: #f90;
}
#sidebar a.action {
  color: #18b;
}
#sidebar a.action:hover {
  color: #f90;
}
#sidebar h3 {
  border-left: solid 12px #333;
  text-transform: uppercase;
  padding-left: 5px;
  cursor: pointer;
}
#sidebar h3.core:hover {
  color: #ccc;
}
#sidebar h3.earth:hover {
  color: #1a5;
}
#sidebar h3.mind:hover {
  color: #18c;
}
#sidebar h3.voice:hover {
  color: #e42;
}
#sidebar h3.faith:hover {
  color: #f90;
}
#sidebar h3.earth {
  border-color: #1a5;
}
#sidebar h3.mind {
  border-color: #18c;
}
#sidebar h3.voice {
  border-color: #e42;
}
#sidebar h3.faith {
  border-color: #f90;
}
/* FOOTER */
#footer {
  width: 980px;
  margin: 20px auto;
}
/* TEXT */
a {
  color: #333;
}
a:hover {
  color: #1488c1;
}
a.title {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 100%;
  display: block;
  cursor: pointer;
  color: #18b;
}
a.title:hover {
  color: #f90;
}
a.edit {
  font-size: 16px;
  color: #18b;
}
a.edit:hover {
  font-size: 16px;
  color: #f90;
}
a#update_account {
  color: #18b;
}
table tr a.title {
  font-size: 14px;
  cursor: pointer;
}
h1 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 4px 0px;
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: dotted 1px #333;
}
h1 a {
  text-decoration: none;
  text-shadow: 1px 1px #fff;
  color: #555;
}
div#home h1 {
  text-align: left;
}
h2 {
  margin: 5px;
  padding: 4px;
  text-shadow: 1px 1px #fff;
  color: #444;
}
h2 a {
  text-decoration: none;
}
#elements h2 {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  width: 100%;
  float: left;
  display: block;
  border-bottom: dotted 1px #333;
}
table tr td h2 {
  text-align: left;
  text-indent: 10px;
}
div#home h3 {
  text-align: left;
  font-style: italic;
}
#dynamic h3 {
  text-align: center;
}
table h3 {
  color: #222;
}
#content h4 {
  text-align: left;
  padding: 0px;
  margin: 10px 0px 0px 0px;
}
div#home p {
  text-align: left;
  font-size: 11px;
}
#dynamic p {
  margin: 0px;
}
#content p.summary {
  font-size: 20px;
  font-style: italic;
  margin-top: 40px;
}
/** IMG **/
#content img {
  float: left;
}
/** BOX **/
/** SEMANTICS **/
.pic {
  float: left;
  margin: 10px;
}
.pic img {
  padding: 2px;
  border: solid 1px #ccc;
}
.author {
  font-weight: bold;
  font-size: 14px;
}
.action {
  font-size: 12px;
}
.date {
  font-style: italic;
}
.more {
  font-size: 16px;
  color: #18b;
  text-decoration: underline;
  cursor: pointer;
}
.more:hover {
  color: #f90;
}
.meta {
  font-size: 90%;
  float: left;
  width: 500px;
  color: #444;
}
.influence {
  float: right;
  width: 200px;
  text-align: center;
  font-size: 18px;
}
div.clear {
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
}
/** LISTS **/
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style: none;
}
ul.tabs li {
  float: left;
  list-style: none;
}
ul.tabs li a {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  width: 80px;
  text-transform: uppercase;
}
ul.tabs li a:hover,
ul.tabs li a.selected:hover {
  color: #f90;
}
ul.tabs li a.selected {
  border-bottom: solid 6px #f90;
  color: #333;
}
ul.tabs li a.disabled {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}
#elements ul.tabs li a {
  width: 200px;
}
/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}
table thead tr {
  border: none;
}
table tfoot tr {
  border: none;
}
table tr.even {
  background-color: #f5f5f5;
}
table th {
  text-align: center;
  color: #222;
  padding: 10px;
  color: #555;
  font-size: 16px;
}
table td {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  color: #999;
}
table td label {
  display: block;
  float: right;
}
table.view tr td {
  color: #333;
  border-bottom: solid 1px #eee;
}
table.view tr td:nth-of-type(1) {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
table.view tr td:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
}
table.view tr td:nth-of-type(3) {
  font-size: 14px;
  font-style: italic;
  color: #777;
}
table#checklist tr {
  border-bottom: solid 1px #ddd;
}
table#form-contact tr {
  border-top: none;
}
form table tbody tr td:nth-of-type(1) {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: right;
}
.sidebar-form {
  width: 160px;
  background-color: #eee;
  border-right: solid 8px #aaa;
}
/** FORM **/
input {
  padding: 4px;
  height: 36px;
  width: 350px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  font-size: 18px;
  color: #333;
}
select {
  height: 36px;
  padding: 4px;
  width: 350px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  font-size: 18px;
  color: #333;
}
textarea {
  padding: 4px;
  height: 360px;
  width: 480px;
  background-color: #fafafa;
  border: solid 1px #ddd;
  font-size: 14px;
  color: #333;
}
/** BUTTONS **/
button.button,
a.button,
input.button,
input#searchsubmit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  margin: 5px;
  padding: 12px 20px;
  width: 160px;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6), 0px 1px 0px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: -moz-linear-gradient(top, #000000 0%, #333333);
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#333333));
}
button.button:hover,
a.button:hover,
input.button:hover,
input#searchsubmit:hover {
  cursor: pointer;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, #ff6600 0%, #ff9900);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6600), to(#ff9900));
  /*-moz-box-shadow: 0px 0px 4px rgba(000,000,000,0.6), inset 0px 1px 0px rgba(255,255,255,0.3);
-webkit-box-shadow: 0px 0px 4px rgba(000,000,000,0.6), inset 0px 1px 0px rgba(255,255,255,0.3);*/

  /*-moz-box-shadow: 0px 2px 4px rgba(000,000,000,0.6);
-webkit-box-shadow: 0px 2px 4px rgba(000,000,000,0.6);*/

}
/** GREEN **/
button.green.button,
a.green.button,
input.green.button,
input#searchsubmit.green {
  background: -moz-linear-gradient(top, #00bb00 0%, #009900);
  background: -webkit-gradient(linear, left top, left bottom, from(#00bb00), to(#009900));
}
button.green.button:hover,
a.green.button:hover,
input.green.button:hover,
input#searchsubmit.green:hover {
  background: -moz-linear-gradient(top, #009900 0%, #00bb00);
  background: -webkit-gradient(linear, left top, left bottom, from(#009900), to(#00bb00));
}
/** BLUE **/
button.blue.button,
a.blue.button,
input.blue.button,
input#searchsubmit.blue {
  background: -moz-linear-gradient(top, #0088ff 0%, #0055cc);
  background: -webkit-gradient(linear, left top, left bottom, from(#0088ff), to(#0055cc));
}
button.blue.button:hover,
a.blue.button:hover,
input.blue.button:hover,
input#searchsubmit.blue:hover {
  background: -moz-linear-gradient(top, #0055cc 0%, #0088ff);
  background: -webkit-gradient(linear, left top, left bottom, from(#0055cc), to(#0088ff));
}
/** RED **/
button.red.button,
a.red.button,
input.red.button,
input#searchsubmit.red {
  background: -moz-linear-gradient(top, #dd0000 0%, #aa0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#dd0000), to(#aa0000));
}
button.red.button:hover,
a.red.button:hover,
input.red.button:hover,
input#searchsubmit.red:hover {
  background: -moz-linear-gradient(top, #aa0000 0%, #dd0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#aa0000), to(#dd0000));
}
#login-google {
  background-image: url('/assets/buttons/google/login/normal.png');
  background-color: transparent;
  border: none;
  width: 325px;
  height: 50px;
  cursor: pointer;
}
#login-google:hover {
  background-image: url('/assets/buttons/google/login/over.png');
}
#logout-google {
  background-image: url('/assets/buttons/google/logout/normal.png');
  background-color: transparent;
  border: none;
  width: 325px;
  height: 50px;
  cursor: pointer;
}
#logout-google:hover {
  background-image: url('/assets/buttons/google/logout/over.png');
}
#login-facebook {
  background-image: url('/assets/buttons/facebook/login/normal.png');
}
#login-facebook:hover {
  background-image: url('/assets/buttons/facebook/login/over.png');
}
#logout-facebook {
  background-image: url('/assets/buttons/facebook/logout/normal.png');
}
#logout-facebook:hover {
  background-image: url('/assets/buttons/facebook/logout/over.png');
}
#login-linkedin {
  background-image: url('/assets/buttons/linkedin/login/normal.png');
}
#login-linkedin:hover {
  background-image: url('/assets/buttons/linkedin/login/over.png');
}
#logout-linkedin {
  background-image: url('/assets/buttons/linkedin/logout/normal.png');
}
#logout-linkedin:hover {
  background-image: url('/assets/buttons/linkedin/logout/over.png');
}
#login-request {
  background-image: url('/assets/buttons/request/normal.png');
  background-color: transparent;
  border: none;
  width: 325px;
  height: 50px;
  cursor: pointer;
}
#login-request:hover {
  background-image: url('/assets/buttons/request/over.png');
}
a.button-home {
  display: block;
  width: 180px;
  height: 180px;
  cursor: pointer;
  margin: auto;
}
a.button-home#earth {
  background-image: url('/assets/elements/white/earth.png');
}
a.button-home#mind {
  background-image: url('/assets/elements/white/mind.png');
}
a.button-home#voice {
  background-image: url('/assets/elements/white/voice.png');
}
a.button-home#faith {
  background-image: url('/assets/elements/white/faith.png');
}
a.button-home#earth:hover {
  background-image: url('/assets/elements/black/earth.png');
}
a.button-home#mind:hover {
  background-image: url('/assets/elements/black/mind.png');
}
a.button-home#voice:hover {
  background-image: url('/assets/elements/black/voice.png');
}
a.button-home#faith:hover {
  background-image: url('/assets/elements/black/faith.png');
}
.checkbox {
  width: 55px;
  height: 20px;
  background-image: url('/assets/icons/general/checkbox/small/off.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
.checkbox.on {
  background-image: url('/assets/icons/general/checkbox/small/on.png');
}
