<div class="m404">
  <img src="/assets/elements/color/earth.png" />
  <img src="/assets/elements/color/voice.png" />
  <img src="/assets/elements/color/mind.png" />
  <img src="/assets/elements/color/self.png" />
  <div class="message">
    <h2 style='text-align: center'>No posts found based on your criteria</h2>
    <p>You may need to broaden your search parameters to find posts, or...</p>
    <% if(auth === true){ %>
    <h3>Login/Register</h3>
    <p>You are not currently logged-in, so it is suggested you login if you have an account, or create an account if you do not:</p>
    <% }else{ %>
    <h3>Create Posts</h3>
    <p>If you would like to create posts instead, please select a post type in the sidebar and click 'Create'.</p> 
    <% } %>
  </div>
  <img src="/assets/orgs/companies.png" />
  <img src="/assets/orgs/govs.png" />
  <img src="/assets/orgs/schools.png" />
  <img src="/assets/orgs/groups.png" />
</div>