<h2>Contact Information</h2>
<span><% address.city %> <% address.state %></span>
<div class="left">
  <div id="instructions">
    <h3>Contact <% org.name %></h3>
    <p><%= org.contact %>
  </div>
  <br />
  <div id="fields"></div>
</div>
<div class="right">
  <h3>Contact</h3>
  <dl>
    <% if(org.phone !== false) { %><dt>Phone:</dt><dd><%= org.phone %></dd><% } %>
    <% if(org.fax !== false) { %><dt>Fax:</dt><dd><%= org.fax %></dd><% } %>
    <% if(org.email !== false) { %><dt>Email:</dt><dd><%= org.email %></dd><% } %>
  </dl>
  <h3>Address</h3>
  <%= address.street %><%= address.suite %><br />
  <%= address.city %>, <%= address.state %> <%= address.zip %><br />
  <h3>Website</h3>
  <% if(!_.isUndefined(org.website)){ %>
    <div id="websites">
      <a href="http://<%= org.website %>" target="_blank"><%= org.website %></a>
    </div> 
  <% } %>
</div>

