<a href="javascript:void(0)" class="back">&laquo; Back to list</a>
<div class="heading"></div>
<br clear="all" />
<ul class="tabs">
  <li><a href="#!<%= org.type %>/<%= org.id %>/debates" class="selected">Content</a></li>
  <li><a href="#!<%= org.type %>/<%= org.id %>/events">Users</a></li>
  <li><a href="#!<%= org.type %>/<%= org.id %>/about">Info</a></li>
  <li><a href="#!<%= org.type %>/<%= org.id %>/social">Extras (0)</a></li>
</ul>
<br clear="all" />
<div id="menu">
  <ul>
    <li><a href="">About</a></li>
    <li><a href="">Social</a></li>
    <li><a href="">Reviews</a></li>
    <li><a href="">Clout</a></li>
    <li><a href="">Events</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</div>
<div id="widgets"></div>
<br clear="all" />