<div class="influence">
	Influence:<br />
	<span style="font-size: 48px;"><%= meta.influence %></span>
	<img src="/assets/icons/general/plus.png" id="plus" width="36" />
	<img src="/assets/icons/general/minus.png" id="minus" width="36" />
</div>
<span class="pic">
	<a href="#profile/<%= user.id %>">
		<img src="<%= pic('users', user.id, user.img) %>" width="100" />
	</a>
</span>
<ul class="meta" id="user">
	<li><strong><a href="#profile/<%= user.id %>"><%= user.username %></a></strong></li>
	<li><strong><%= user.city %><% if(user.city && user.state){ %>,<% } %> <%= user.state %></strong></li> 
	<li><strong>Created:</strong><%= meta.created %></li>  
	<li><a href="#!stream" style="color: #09C;font-size:14px; font-weight: bold; padding: 0px; display: block; clear: left;">« Back to List</a></li>
</ul> 
<ul class="meta" id="detail">
	<% if(!_.isUndefined(post.positive)){ %><li><strong>Positive:</strong> <%= post.positive %></li><% } %> 
	<% if(!_.isUndefined(post.category)){ %><li><strong>Category:</strong> <%= post.category %></li><% } %> 
	<% if(!_.isUndefined(element)){ %><li><strong>Element:</strong> <%= element %></li><% } %> 
	<% if(!_.isUndefined(user.username)){ %><li><strong>Date/Time:</strong> <%= user.username %></li><% } %> 
	<% if(!_.isUndefined(user.username)){ %><li><strong>Address:</strong> <%= user.username %></li><% } %> 
	<% if(!_.isUndefined(post.difficulty)){ %><li><strong>Difficulty:</strong> <%= post.difficulty %></li><% } %> 
	<% if(!_.isUndefined(post.scope)){ %><li><strong>Scope:</strong> <%= post.scope %></li><% } %> 
</ul> 	
<div class="clear"></div>
<ul class="meta" id="stats">
	<li><strong>Views:</strong> <%= meta.views %></li> 
	<li><strong>Likes:</strong> <%= meta.likes %></li>
	<li><strong>Comments:</strong> <%= meta.comments %></li>
	<li><strong>Shares:</strong> <%= meta.shares %></li>
</ul> 	
<div class="clear"></div>