<img src="/assets/icons/large/<%= data.element %>/<%= data.type %>.png" style="margin-right: 10px;"> 
<span style="display: block;padding-top: 4px;font-size: 20px; font-weight: bold; text-transform: uppercase;"><%= data.type %></span>
<div id="heading"></div>
<h1 id="single_title" style="border: none;">
	<% if(_.isUndefined(data.url)){ %>
		<%= data.title %>
	<% }else{ %>
		<%= data.url %>
	<% } %>	
</h1>
<div id="single_content" style="text-align: justify;"><%= data.content %></div>
<div id="content-footer">
	<a href="#!stream" class="button blue">&laquo; Back to Stream</a>
</div>
<div id="interact"></div>