<h3>Stats</h3>
<div id="stats">
  <dl>
    <dt>Checklist:</dt><dd><%= stats.checklist %></dd>
    <dt>Calculator:</dt><dd><%= stats.calculator %></dd>
    <dt>Matters:</dt><dd><%= stats.matters %></dd>
    <dt>Total Posts:</dt><dd><%= stats.posts %></dd>
    <dt>Stats:</dt><dd><%= stats.users %></dd>
  </dl>
</div>
<h3>Influence</h3>
<div id="influence">
  <dl>
    <dt>Influence:</dt><dd><%= stats.influence %></dd>
    <dt>Followers:</dt><dd><%= stats.followers %></dd>
    <dt>Following:</dt><dd><%= stats.following %></dd>
    <dt>Friends:</dt><dd><%= stats.friends %></dd>
    <dt>Post Avg.</dt><dd><%= stats.avg_post %></dd>
    <dt>Friend Avg.</dt><dd><%= stats.avg_friend %></dd>
  </dl>
</div>
