<%= email %>,<br />
This email contains your password, as you requested on Phourus.com:<br />

<strong>Email Address:</strong> <%= email %><br /><br />
<strong>Password:</strong> <br /><br />

Be sure to save this password someplace safe!
Phourus 

<p>Copyright 2013 Phourus LLC. All Rights Reserved.
	This message was sent to this email address based on the 'Forgot your password' feature on <a href="http://www.phourus.com">www.phourus.com. If you have received this message in error, please let us know by replying to this email with the subject line [DID NOT REQUEST]
</p>