<h1><%= data.action %> <%= data.title %></h1>
<div id="fields"></div>
<div id="description"><%= data.description %></div>
<br clear="all" />
<span style="color: #333; font-size: 12px; font-style: italic;">Content</span>
<br />
<textarea></textarea>		
<div id="footing">
	<% if(data.mode== 'add'){ %>
		<input type="button" value="Create New" class="button green" />
		<a href="#!stream" class="button red">Cancel Create</a>
	<% } %>
	
	<% if(data.mode== 'edit'){ %>
		<input type="button" value="Save Changes" class="button green" />
		<a href="#!stream" class="button red">Cancel Edit</a>
	<% } %>
	<div class="clear"></div>
</div>    