<img src="/assets/icons/large/<%= element %>/<%= meta.type %>.png" class="icon"> 
<span class="type"><%= meta.type %></span>
<div id="heading"></div>
<h1 id="single_title" style="border: none;">
	<% if(_.isUndefined(post.url)){ %>
		<%= post.title %>
	<% }else{ %>
		<%= post.url %>
	<% } %>	
</h1>
<div id="body" style="text-align: justify;"><%= post.content %></div>
<div id="footing">
	<a href="#!stream" class="button blue">&laquo; Back to Stream</a>
	<div class="clear"></div>
</div>
<div id="interact"></div>