<a href="#profile/<%= user_id %>" id="<%= user_id%>" class="profile"><img src="/assets/pics/users/<%= user_id %>.png" onerror="this.src='/assets/pics/default.png'" height="120" /></a>
<div id="welcome">David Cruz</strong>
  <ul>
    <li>
      <a href="#gov/<%= user_id %>" id="<%= user_id %>">Sioux City, IA</a>
    </li>
    <li>
      <a href="#user/<%= user_id %>" id="<%= user_id %>">My Account</a>
    </li>
    <li>
      <a href="#!stream" class="me">My Posts</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="logout">Logout</a>
    </li>
  </ul>
</div>