<h3>Go Back</h3>
<br />
<a href="#!stream" class="button blue">&laquo; Back to Stream</a>
<br clear="all" />
<br />
<h3>Orgs</h3>
<ul>
  <li><a href="/#!govs">Govs</a></li>
  <li><a href="/#!companies">Companies</a></li>
  <li><a href="/#!schools">Schools</a></li>
  <li><a href="/#!groups">Groups</a></li>
</ul>
<br />
<% if(1===2){ %>
<h3>Account</h3>
<ul>
  <li><a href="/#me">My Account</a></li>
  <li><a href="/#">My Orgs</a></li>
  <li><a href="/#signup">Sign Up</a></li>
  <li><a href="/#page/site/technical">Contact</a></li>
</ul>
<br />
<% } %>
<h3>More</h3>
<ul>
  <li><a href="/#!home">Home</a></li>
  <li><a href="/#!stream">Stream</a></li>
  <li><a href="/#signup">Sign Up</a></li>
  <li><a href="/#contact">Contact</a></li>
</ul>
<br />