<h3>Select by Zip</h3>
<input id="zip" type="text" placeholder="enter zip code" style="width: 180px;height: 30px" />
<button id="zipcode" class="button blue">Use zip code</button>
<div class="clear"></div>
<br />
<h3>Select by State</h3>
<ul>
<% _.each(data, function(obj, key){ %>
  <li><a href="javascript: void(0)" id="<% if(_.isUndefined(obj.state)){ %><%= key %><% }else{ %><%= obj.state %><% } %>">
    <% if(_.isUndefined(obj.state)){ %>
      <%= obj %>
    <% }else{ %>
      <%= states[obj.state] %> (<%= obj.total %>)
    <% } %>  
  </a></li>
<% }); %>
</ul>