<div>
  <h3 class="user"><%= user.first %> <%= user.last %></h3>
  <a href="#profile/<%= user.id %>" id="<%= user.id%>" class="profile"><img src="/assets/pics/users/<%= user.id %>.<%= user.img %>" onerror="this.src='/assets/pics/default.png'" height="120" /></a>
  <ul id="user">
    <% if(!_.isUndefined(address)){ %>
      <li>
        <% if(!_.isUndefined(address.city)){ %><%= address.city %>, <% } %><% if(!_.isUndefined(address.state)){ %><%= address.state %><% } %>
      </li>
    <% } %>
    <li>
      <a href="#user/<%= user.id %>" id="<%= user.id %>">My Account</a>
    </li>
    <li>
      <a href="#!stream" class="me">My Posts</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="logout">Logout</a>
    </li>
  </ul>
  <a href="#add/blogs" class="button blue">Create Post</a>
  <br clear="all" /><br />
</div>

<div>
  <h3 class="notifications">Activity</h3>
  <ul id="notifications"></ul>
  <a href="#!notifications" class="button red">Notifications</a>
  <br clear="all" /><br />
</div>

<div>
  <h3 class="history">History</h3>
  <ul id="history"></ul>
  <a href="#!history" class="button green">History</a>
  <br clear="all" /><br />
</div>