<%= first %>,
<p>We are excited you've decided to join Phourus! Below is the information you need to get started:</p>

<strong>Login email:</strong> <%= email %><br />
<strong>Password:</strong> <%= password %><br />

<p>Now that you have a user account, you can create content, follow others and plenty more! We are working on step-by-step instructions to get started, but for now, please feel free to explore.</p>

<p style="font-style: italic;"><a href="https://www.phourus.com/login">Click here to login securely to Phourus.com</a></p>
<br /><br /><br />
<p style="font-size: 10px; text-align: center;">Copyright 2013 Phourus LLC. All Rights Reserved.</p>
<p style="font-size: 10px; text-align: center;">By creating an account on Phourus, you will automatically receive email notifications at <%= email %>. To disable email notifications, you can login to your account and edit your notification settings, or <a href="http://www.phourus.com/email/unsubscribe">click here to unsubscribe.</a></p>