/** HOME **/
.home {
  
  h1 {
    padding-top: 40px;
    font-size: 54px;
    font-family: "century gothic";
    font-weight: normal;
    text-transform: uppercase;
    border: none;
    text-align: center;
    color: #4b4b4d;
    margin-bottom: 20px;
  }
  
  h2 {
    text-shadow: none;
    font-weight: normal;
    color: #fafafa;
    font-size: 36px;
  }
  
  h3 {
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    color: #333;
    font-family: "century gothic";
  }
  
  img {
    margin: 40px auto;
    display: block;
    border: none;
  }
  
  #signup, #signorg {
  
    h3 {
      font-size: 24px;
      color: #fafafa;
    }
    div {
      height: 40px;
      text-transform: uppercase;
      font-size: 15px;
      color: #222;
    }
  }
  
  p {
    font-size: 24px;
    color: #444;
    font-family: "perpetua";
    line-height: 30px;
    font-style: italic;
    margin: 20px 60px 0px 60px;
    padding: 20px 10px 20px 10px;
    border-top: dashed 1px #ccc;
    border-bottom: dashed 1px #ccc;  
    width: 960px;
    margin: auto;
    
  }
  
  div.red, div.blue, div.green, div.gold {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 200px;
    
        
    p {
      color: #ffffff;
      border-top: none;
      border-bottom: none;
      border-left: solid 1px #eee;
      border-right: solid 1px #eee;
      letter-spacing: 2px;
      text-align: center;
      width: 600px;
      font-size: 20px;
      margin-top: 20px;
      font-weight: normal;
      font-style: italic;
      font-family: "perpetua";
    }
  }
  
  div.red {
    border-top: solid 8px #cc3300;
    border-bottom: solid 8px #cc3300;
    background-color: #d65e35;
  }
  
  div.blue {
    border-top: solid 8px #4f9db6;
    border-bottom: solid 8px #4f9db6;
    background-color: #72afc3;
  }
  
  div.green {
    border-top: solid 8px #98b849;
    border-bottom: solid 8px #98b849;
    background-color: #a7c266;
  }
  
  div.gold {
    border-top: solid 8px #df9d1a;
    border-bottom: solid 8px #df9d1a;
    background-color: #e6b657;
  }
  
  h4.red { color: #cc3300; }
  h4.blue { color: #4f9db6; }
  h4.green { color: #98b849; }
  h4.gold { color: #df9d1a; }
  
  #what, #why {
  width: 400px;
  float: left;
  text-align: center;
  margin-right: 40px;
  
    p {
      width: inherit;
      
    }
  }
  
  .term {
    font-weight: bold;
    font-style: normal;
    color: #333;  
    letter-spacing: 2px;
  }
  
  .elements {
    width: 860px;
    margin: 40px auto;  
       
    a {
      margin-right: 10px;
    }
  }
  
  .element {
  width: 860px;
  margin: auto;
  background-color: #f2f2f2;
  border: solid 10px #fff;
  display: none; 
    a {
      margin-right: 20px;
    }
    h3 {
      padding: 30px 0px 0px 0px;
      font-size: 40px;
      margin: 20px 0px 15px 0px;
      font-style: italic;
      color: #fafafa;
      font-size: 22px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    span {
      font-size: 20px; 
    }
    
    .info {
      width: 760px;
      float: left;
      margin: 0px 0px 20px 20px;
      color: #777;
      
      .label {
        font-size: 14px;
        text-transform: uppercase;
        color: #555;
      }
      
      .description {
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        font-style: normal;
      }
    }
  }
  
  .feature {  
    
    img.icon {
      margin: 20px 0px 0px 10px;
    }
    .label {
     padding-top: 10px;
     font-size: 24px; 
    }
    .description {
      clear: left; 
      text-align: justify;
      margin: 4px;
      font-size: 14px;
      font-style: italic;
      padding: 4px;
    }
    
  }
  
  .org {
  margin: 10px;
  width: 960px;
  margin: auto;
  padding: 40px 0px 10px 0px;
  border-bottom: dashed 1px #ccc;
    h3, h4 {
      margin: 0px;
    }
    p {
      font-style: italic; 
      height: 130px;
      border: none;
      padding: 0px;
    }
    
    .term {
      color: #111;
    }
    
    img {
      border: none;
    }
  }
  
  .org.l {
    
    img {
      float: left;
      margin: 0px 20px 0px 0px;
    }
  }
  
  .org.r {
    text-align: right;
    
    h4 {
      text-align: right !important;
    }
    img {
      margin: 0px 0px 0px 20px;
      float: right;
    }
  }
  
  #signup {
    float: left;
    width: 350px;
  }
  
  #signorg {
    float: left;
    width: 500px;
    padding-left: 10px;  
  }
  .fill {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 1px;
  }
  .fill.blue {
    height: 960px;
    top: 380px;
    background-color: #81cee7;
  }
  .fill.green {
    height: 920px;
    top: 2120px;
    background-color: #d6edd7;
    border-top: solid 2px #85a086;
    border-bottom: solid 2px #85a086;
  }
  .fill.red {
    height: 560px;
    top: 3500px;
    background-color: #f90;
  }
}
