@media screen and (min-width: 1100px) {
  #footer .mid {
    .left {
      width: 70%;
      
      #signin {
        display: block;
      }
      #signup {
        width: 40%;
      }
      #signorg {
        width: 60%;
      }
    }
    #contact {
      width: 30%;
    }
  }
  
  
}

@media screen and (min-width: 1200px) {

  #sidebar {
    width: 15%;
  }
  
  #content {
    width: 78%;
  }
  
}

@media screen and (max-width: 1200px) {

  #sidebar {
    width: 19%;
  }
  
  #content {
    width: 74%;
  }
  
}

@media screen and (max-width: 1100px) {

  #sidebar {
    width: 20%;
  }
  
  #content {
    width: 73%;
  }
  
}

@media screen and (max-width: 960px) {

  #sidebar {
    width: 23%;
  }
  
  #content {
    width: 70%;
  }
  
}

@media screen and (max-width: 800px) {
  #sidebar {
    width: 100%;
    float: none;
    margin-bottom: 10px !important;
    padding-bottom: 0px !important;
    
    div {
      float: left;
      width: 33%;
      
      img {
        display: none;
      }
    }
  } 
  
  #content {
    width: 93%;
    float: none;
  }
  
  #header {
    height: 80px;
    img {
      height: 50px;
    }
    
    #brand {
      width: 35% !important;
    }
    #slogan {
      margin-top: -30px !important;
      margin-left: 50px !important; 
    }
    nav {
      width: 65% !important;
      ul li a {
        padding-top: 30px;
      }
    } 
  }  
}
