/** STREAM **/
.stream {

  #stream {      
    padding: 4px;
    margin: 0px;
    /*background-color: #fafafa;
    border: solid 1px #ccc; 
    .box_shadow;*/
    p {
      margin: 0px;    
    }
    h3 {
      text-align: center; 
    }
  }  
  
  #create {
    width: 300px;
    float: right;
    margin-top: -20px;
    width: 400px;
    
    select {
      width: 200px; 
      float: right;
      margin-top: 4px;
      height: 40px;
    }  
    
    .button {
      float: right;
    }
  }
  
  #filter {
    width: 860px; 
    float: left;
    
    ul#mode {
      padding: 0px;
      margin: 0px;
    }
    
    div.types {
      div {
        float: left;
        width: 10%;
        label {
          font-size: 0.8em;
        font-weight: bold;
        }
        
        input {
          width: 20px;
        }
        
      }
    }
    
  }
  #sort_by {
    float: right;
    width: 300px; 
    margin: 0px 0px 10px 0px; 
    padding: 0px;
    color: #777;
    font-size: 0.9em;
    font-style: italic;
    text-transform: none;
    font-weight: normal;
  }
  select#sort, select#direction {
    width: 120px;   
    font-size: 0.9em;
  }  
}