<h1>Welcome to Phourus</h1>
<br />
<% _.each(data, function(type){ %>
	<% if(!_.isFunction(type)){ %>
		<div class="box-home">
			<a href="javascript:void(0)" class="button-home" id="<%= type.element %>"></a>
			<ul>
				<% _.each(type.sections, function(value, key, list){ %>
					<li>
						<a href="javascript:void(0)">
							<img src="/assets/icons/large/<%= type.element %>/<%= key %>.png" class="icon">
							<div class="label" id="<%= type.element %>:<%= key %>"><%= value %></div>
							<br clear="left">
						</a>
					</li>
				<% }); %>
			</ul>
		</div>
	<% } %>
<% }); %>
<div id="elements" style="display: none">
	<% _.each(data, function(type){ %>
		<% if(!_.isFunction(type)){ %>
			<div id="<%= type.element %>" class="element">
				<h2>Phourus <%= type.element.toUpperCase() %></h2><a href="javascript:void(0)" id="close">X</a>
				<br clear="all">
				<img src="/assets/elements/white/<%= type.element %>.png">
				<% _.each(type.sections, function(value, key, list){ %>
					<div id="<%= key %>" class="info">
						<p><%= data.description(key) %></p>
					</div>
				<% }); %>
				<br clear="all">
			</div>
		<% } %>	
	<% }); %>
</div>
<br clear="all">