<div class="item">
  <div class="pic">
    <a href="#user/<%= user.id %>"><img src="<%= pic('users', user.id, user.img) %>" height="100"></a>
  </div>
	<div class="box">
  	<ul class="user">
  	  <li><strong><%= user.first %> <% if(!_.isUndefined(user.last)) { %><%= user.last.slice(0, 1) %><% } %>.</strong></li>
  	  <% if(!_.isUndefined(address)){ %>
  	   <li>
  	     <%= address.city %>
  	     <% if(!_.isUndefined(address.city) && !_.isUndefined(address.state)){ %>,<% } %> 
  	     <%= address.state %>
  	   </li>
  	  <% } %>
  	  <% if(user.created !== '0000-00-00 00:00:00'){ %><li class="created"><%= format_date(user.created, 'relative') %></li><% } %>
  	</ul>	
	</div>
	<div class="influence">
  	<div class="label">Influence:</div>
  	<span class="value"><%= user.influence %></span>
  </div>
	<div class="social">
    <ul>
  		<li class="views"><strong>Views:</strong> <%= stats.views %></li>
  		<li class="comments"><strong>Comments:</strong> <%= stats.comments %></li>
  		<li class="thumbs"><strong>Thumbs:</strong> <%= stats.thumbs %></li>
  		<li class="popularity"><strong>Popularity:</strong> <%= stats.popularity %>%</li>
  	</ul>
	</div>
</div>