<h3 <% if(collapsible=== true){ %>class="collapsible"<% } %>>Create & Edit Posts</h3>
<p>To create a new post, select a post type below, then click the "Create" button.<br clear="all" />
<select id="types">
  <% _.each(types, function(value, key){ %>
    <option disabled="true">--- <%= value.element %> ---</option>
    <% _.each(value.sections, function(value, key){ %>
      <option value="<%= key %>"><%= key %></option>  
    <% }); %> 
  <% }); %> 
</select>
<br clear="all" />
<button class="button green create" id="add">Create</button>
<br clear="all" /><br />
To view of a list of your posts to edit, click the "Edit" button. 
<br clear="all" />
<a href="/#!stream" class="button blue edit" id="edit">Edit</a>