<div id="normal-heading">
    <h2 style="background-color:transparent; border-top: none;"><img src="/assets/icons/large/phourus/contact.png" />Contact</h2>
    <p>Please use the web form below to contact Phourus&trade;</p>
</div>
<form action="" method="post">
    <table id="form-contact">
        <tr><td class="sidebar-form"><label>First: </label></td><td><input type="text" name="input_first" value="first name" /></td></tr>
        <tr><td class="sidebar-form"><label>Last: </label></td><td><input type="text" name="input_last" value="last name" /></td></tr>
        <tr><td class="sidebar-form"><label>Email: </label></td><td><input type="text" name="input_email" value="email address" /></td></tr>
        <tr>
        	<td class="sidebar-form"><label>Subject: </label></td>
            <td>
            	<select name="select_subject" class="select">	
                	<option>General information</option>
                    <option>Report an issue</option>
                    <option>Tell us what you think</option>
                    <option>Join the Phourus Team</option>
                    <option>Sign up as an Organization</option>
            	</select>
            </td>
        </tr>
        <tr><td class="sidebar-form" style="vertical-align:top"><label>Message: </label></td><td><textarea name="input_message" rows="10" cols="60">Please tell us how we can help...</textarea></td></tr>
        <tr><td class="sidebar-form"></td><td><input type="submit" name="submit_contact" value="Submit" class="button" /></td></tr>
    </table>
</form>