<div id="core" class="element">
	<h2>Phourus core</h2><a href="javascript:void(0)" id="close">X</a>
	<ul id="sections" class="tabs" style="float: right">
		<a href="javascript:void(0)" id="close" onclick="element('close')"></a>
		<li><a href="javascript:void(0)" id="close" onclick="element('close')"></a><a href="javascript:void(0)" id="Blogs">Blogs</a></li>
		<li><a href="javascript:void(0)" id="Links">Links</a></li>
		<li><a href="javascript:void(0)" id="Ideas">Ideas</a></li>
		<li><a href="javascript:void(0)" id="Events">Events</a></li>
	</ul>
	<br clear="all">
	<img src="/assets/elements/white/core.png">
	<div id="Blogs" class="info">
		<p>Blogs are the most basic post on Phourus, and can be used to write about virtually any topic, as long as it's relevant to the 4 Elements of Phourus, meaning they should somewhat relate to the Environment, Education, Politics or Religion in one way or another. </p>
	</div>
	<div id="Links" class="info" style="display: none;">
		<p>Links are about finding the best resources on the Internet and bookmarking them on Phourus. Links can be articles, images, podcasts or videos, but should relate to one of the 4 Elements of Phourus (Earth, Mind, Voice and Faith).</p>
	</div>
	<div id="Ideas" class="info" style="display: none;">
		<p>Ideas are structured very similarly to Blogs, but should be used to share Ideas for solving simple or complex problems that individuals, organizations or even the world faces, and give them the exposure they deserve using the 'Influence' rank.</p>
	</div>
	<div id="Events" class="info" style="display: none;">
	<p>Events are a great way to share an upcoming seminar, conference or meetup with the Phourus community. Phourus encourages it's members to take it's virtual discussions into the real world, and has built the events section to do just that. </p>
	</div>
	<br clear="all">
</div>

<div id="earth" class="element">
	<h2>Phourus earth</h2><a href="javascript:void(0)" id="close">X</a>
	<ul id="sections" class="tabs" style="float: right">
		<a href="javascript:void(0)" id="close" onclick="element('close')"></a>
		<li><a href="javascript:void(0)" id="close" onclick="element('close')"></a><a href="javascript:void(0)" id="Calculator">Calculator</a></li>
		<li><a href="javascript:void(0)" id="Checklist">Checklist</a></li>
		<li><a href="javascript:void(0)" id="Reports">Reports</a></li>
		<li><a href="javascript:void(0)" id="Companies">Companies</a></li>
	</ul>
	<br clear="all">
	<img src="/assets/elements/white/earth.png">
		<div id="Calculator" class="info">
			<p>A Carbon Calculator is used to estimate how much Carbon Dioxide an individual creates throughout the year. With the Phourus Earth Carbon Calculator, you can save your results, compare them with other members, and even compare them to the Phourus community as a whole.</p></div><div id="Checklist" class="info" style="display: none;"><p>The Checklist is a simple yet powerful tool to reduce your negative impact on the Environment. Simply check off list items that you feel you meet the requirements for, save your results, and improve your results over time. Increase your Influence rank, decrease your consumption.</p>
		</div>
		<div id="Reports" class="info" style="display: none;">
			<p>Reports are a way to report both the good and bad to the Phourus Community. Catch somebody doing wrong to the environment? Create a Report. Catch a company doing good for the environment? Create a Report. Don't let anybody get away with anything, good or bad.</p>
		</div>
		<div id="Companies" class="info" style="display: none;">
			<p>Phourus has given environmentally-friendly Companies a chance to share their products, services and vision with a community that is passionate about the Environment. Qualified organizations can register as a Phourus Earth 'Company' to contribute to the Phourus Earth community.</p>
		</div>
		<br clear="all">
</div>

<div id="mind" class="element">
	<h2>Phourus mind</h2>
	<a href="javascript:void(0)" id="close">X</a>
	<ul id="sections" class="tabs" style="float: right">
		<a href="javascript:void(0)" id="close" onclick="element('close')"></a>
		<li><a href="javascript:void(0)" id="close" onclick="element('close')"></a><a href="javascript:void(0)" id="Subjects">Subjects</a></li>
		<li><a href="javascript:void(0)" id="Scores">Scores</a></li>
		<li><a href="javascript:void(0)" id="Questions">Questions</a></li>
		<li><a href="javascript:void(0)" id="Courses">Courses</a></li>
	</ul>
	<br clear="all">
	<img src="/assets/elements/white/mind.png">
	<div id="Subjects" class="info">
		<p>The Subjects section is a place to learn and a place to teach. Professors, experts and students alike can create educational articles on subjects such as math, science or history. By using the Influence rank, the best educational materials will get the most visibility and rise to the top of Phourus Mind.</p>
	</div>
	<div id="Scores" class="info" style="display: none;">
		<p>With Scores, members can create multiple-choice questions on a specific subject for other members to answer. The more questions answered correctly, the more points the member will have in that particular subject, which will improve their overall Influence rank.</p>
	</div>
	<div id="Questions" class="info" style="display: none;">
		<p>Questions are an essential part of the learning process, and questions gone unanswered hinder comprehension. Phourus Mind Questions aims to remove these obstacles, and members who answer other member's questions get a good boost in Influence as a result.</p>
	</div>
	<div id="Courses" class="info" style="display: none;">
		<p>Courses gives educators a chance to contribute to the Phourus community as a regular member. Only individuals are allowed to sign up for Phourus, but Phourus Mind created the 'Courses' section for schools, universities and other educational institutions to contribute and become a part of Phourus.</p>
	</div>
	<br clear="all">
</div>

<div id="voice" class="element">
	<h2>Phourus voice</h2>
	<a href="javascript:void(0)" id="close">X</a>
	<ul id="sections" class="tabs" style="float: right">
		<a href="javascript:void(0)" id="close" onclick="element('close')"></a>
		<li><a href="javascript:void(0)" id="close" onclick="element('close')"></a><a href="javascript:void(0)" id="Debates">Debates</a></li>
		<li><a href="javascript:void(0)" id="Votes">Votes</a></li>
		<li><a href="javascript:void(0)" id="Budget">Budget</a></li>
		<li><a href="javascript:void(0)" id="Reps">Reps</a></li>
	</ul>
	<br clear="all">
	<img src="/assets/elements/white/voice.png">
		<div id="Debates" class="info">
			<p>Debates can be created by members for a local, state or national matter, and are automatically filtered by that user's zip code. This way, users only need to participate in Debates within their city, state or country, and the results cannot be influenced by users outside of that political zone.</p>
		</div>
		<div id="Votes" class="info" style="display: none;">
			<p>Votes are Debates sponsored by official Phourus Voice Representatives. Once a Representative chooses to sponsor a Vote, members living within that jurisdiction can review the Vote, read the commentary of the Representative sponsoring the Vote, and choose a simple Yes/No on the matter.</p>
		</div>
		<div id="Budget" class="info" style="display: none;">
			<p>Budgets are perhaps the most challenging part of a Government's job. A large budget puts too much of a burden on taxpayers, yet too small of a budget means giving up some of the benefits citizens take for granted. With Phourus Voice Budgets, you decide how to spend the money.</p>
		</div>
		<div id="Reps" class="info" style="display: none;">
			<p>Phourus users can apply for 'Representative' status, meaning that they are currently in office, or will be running for office in the near future. Approved Reps can elevate Debates into Votes, and can upgrade their account even further through add-ons such as video, contact forms and more.</p>
		</div>
		<br clear="all">
</div>

<div id="self" class="element">
	<h2>Phourus self</h2>
	<a href="javascript:void(0)" id="close">X</a>
	<ul id="sections" class="tabs" style="float: right">
		<a href="javascript:void(0)" id="close" onclick="element('close')"></a>
		<li><a href="javascript:void(0)" id="close" onclick="element('close')"></a><a href="javascript:void(0)" id="Beliefs">Beliefs</a></li>
		<li><a href="javascript:void(0)" id="Ranks">Ranks</a></li>
		<li><a href="javascript:void(0)" id="Timeline">Timeline</a></li>
		<li><a href="javascript:void(0)" id="Searching">Searching</a></li>
	</ul>
	<br clear="all">
	<img src="/assets/elements/white/self.png">
	<div id="Beliefs" class="info">
		<p>Beliefs are deep-rooted thoughts that can have a hard time finding their way into casual conversation. As a result, Phourus has created a dedicated place to share these thoughts. If you are an atheist, tell us why. If you are a Christian, tell us why. If you think the world is run by aliens, tell us why.</p>
	</div>
	<div id="Ranks" class="info" style="display: none;">
		<p>Ranks is an easy way to get a snapshot of a person's viewpoints and how they view the world. Each member can create up to 4 different Rank topics, such as 'Belief in a Higher Power', and select a number from -5 to +5 to describe how strongly they agree or disagree with the statement.</p>
	</div>
	<div id="Timeline" class="info" style="display: none;">
		<p>The Phourus Faith Timeline is used to track the significant life experiences that led members to their current belief system. With Timeline, users can share these experiences so others can see how these events made them who they are today.</p>
	</div>
	<div id="Searching" class="info" style="display: none;">
		<p>Searching is a way to match members based on similar or dissimilar beliefs. By using Ranks, Phourus can get a good idea how a user and the Phourus community as a whole views the world. From there, individual users can be matched up based on this data using Phourus Faith Searching.</p>
	</div>
	<br clear="all">
</div>