<div id="inner">
	<div id="brand">
		<a href="#">
			<img src="/assets/logos/logo-transparent.png" style="margin:10px 0px 0px 0px;padding:0px;" height="60" />	
		</a>
		<span id="slogan">Empowering Citi[z]e[n]s &amp; States</span>
	</div>
	<div id="login"></div>
    <nav>
    	<ul>
            <li><a href="#!stream" id="core">[Stream]</a></li>
            <li><a href="#!govs" id="earth">Govs</a></li>
            <li><a href="#!groups" id="mind">Groups</a></li>
            <li><a href="#!teachers" id="voice">Teachers</a></li>
            <li><a href="#!companies" id="faith">Companies</a></li>   
        </ul>
    </nav>
</div>