<div id="inner">
	<div id="brand">
		<a href="#">
			<img src="/assets/logos/logo-transparent.png" style="margin:10px 0px 0px 0px;padding:0px;" height="60" />	
		</a>
		<span id="slogan">Empowering Citi[z]e[n]s &amp; States</span>
	</div>
	<div id="login"></div>
    <nav>
    	<ul>
            <li><a href="#!stream">[Stream]</a></li>
            <li><a href="#!govs">Govs</a></li>
            <li><a href="#temp">Companies</a></li>
            <li><a href="#temp">Schools</a></li>
            <li><a href="#temp">Groups</a></li>   
        </ul>
    </nav>
</div>