<div id="inner">
	<a href="#!stream" style="float: left; display: block; width: 240px;">
		<img src="/assets/logos/logo.jpg" style="margin:10px 0px 0px 0px;padding:0px;" height="44" />
	</a>
    <nav>
    	<ul>
            <li><a href="#!core" id="core">[Core]</a></li>
            <li><a href="#!earth" id="earth">Earth</a></li>
            <li><a href="#!mind" id="mind">Mind</a></li>
            <li><a href="#!voice" id="voice">Voice</a></li>
            <li><a href="#!faith" id="faith">Faith</a></li>   
        </ul>
    </nav>
    <div id="login"></div>
</div>