<div id="titlebar">
	<strong>Register</strong>
    <a href="#" class="close" style="float:right;">X</a>
    <div class="clear"></div>
</div>

<p style="text-align:center;font-size: 16px;">We could not find your account in our database. If you haven't created an account yet, you can do so simply by accepting the Terms &amp; Conditions and clicking 'Register' below.</p>
<p style="text-align:center; background-color: #eee; padding: 10px;"><input name="input_accept" type="checkbox" style="display:inline;margin: 0px 10px 0px 0px; padding: 0px; width: 20px;height: 20px;">I have read, understood, and accept the <a href="/terms">Terms &amp; Conditions</a> and <a href="/privacy">Privacy Policy</a> and would like to register for Phourus.com with my Facebook/Linkedin Account.</p>
<div class="clear"></div>
<p style="text-align:center">
	<input id="first" value="first" />
	<input id="last" value="last" />
	<input id="email" value="email" />
	<input id="password" value="password" />
	<button id="complete" class="button green">Register Now</button>
</p>